[2018-05-07 17:38] kjin opened #7 "Support Node 6"
Currently it seems like `opencensus-core` doesn't support Node 6 because of its reliance on `async_hooks`. We should fix this so #6 can land (and we cover our supported versions).

[2018-05-07 17:40] kjin opened #8 "Conform to Google's TypeScript Style Guide"
The current [`tsconfig.json`](https://github.com/census-instrumentation/opencensus-node/blob/cbce1427643c05f6a4c9ec4e6cb5bc5eaf16b4e0/packages/opencensus-core/tsconfig.json) seems to disable important compiler checks. They should be enabled as per Google's guidelines on TypeScript style.

[2018-05-08 00:32] fabiogomessilva commented on #7
#9 was opened to fix #6 issue

[2018-05-08 23:45] ofrobots opened #11 "Package naming"
Looking into the package.json for opencensus-core, it seems the package name is: `@opencensus/opencensus-core`. Why not `@opencensus/core`? I want to make sure this is a conscious decision and the pros/cons are documented somewhere.

[2018-05-09 02:02] kjin commented on #7
Closed via #9.

[2018-05-09 02:02] #7 closed

[2018-06-04 23:31] kjin opened #26 "Stackdriver Exporter package doesn't use GTS"
The Stackdriver Exporter package's tsconfig.json is missing this line:
[code]
After adding it, there appears to be a number of compilation errors. We should fix this before the first release.

[2018-06-05 18:44] eduardoemery commented on #26
Just fixed in PR #28. Thanks for noticing!

[2018-06-07 17:03] #26 closed

[2018-06-12 17:39] ofrobots opened #37 "Tests fail on a fresh repo clone"
After a fresh repo clone, I see lots of test failures.

[code]

[2018-06-13 23:38] songy23 opened #38 "Add utils to automatically detect monitored resources."
Add utils to automatically detect monitored resources based the environment that the application is running in, according to [OpenCensus MonitoredResource specs](https://github.com/census-instrumentation/opencensus-specs/blob/master/utils/MonitoredResource.md). This util should be independent of specific exporters, since it's supposed to be share between Stackdriver Stats exporter and Stackdriver

[2018-06-13 23:39] songy23 opened #39 "Stackdriver Trace Exporter: add resource labels to Spans."
After finishing https://github.com/census-instrumentation/opencensus-node/issues/38, please use that util to get the monitored resource for Stackdriver Trace exporter, and add the resource labels to the uploaded `Span`s as [Attribute](https://cloud.google.com/trace/docs/reference/v2/rest/v2/Attributes). The format of attribute key is `g.co/r/<resource_type>/<label>`, for example `g.co/r/aws_ec2_in

[2018-06-15 00:38] ofrobots opened #44 "Start running tests against Node 10"

[2018-06-15 07:59] tcolgate opened #45 "exporter-jaeger not published?"
Trying to test @opencensus/exporter-jaeger but it doesn't seem to appear in npm at present. Is that on purpose?

[2018-06-18 19:22] kjin commented on #45
We landed the PR that introduces Jaeger after the first wave of releases. So not really intentional, just a matter of timing. I'll go ahead and publish 0.0.1.

[2018-06-19 13:28] Dragomir-Ivanov opened #53 "Prometheus exporter"
Hi guys, Is there any plan for adding Prometheus exporter, just like the `opencensus-go` does?

[2018-06-19 18:13] kjin opened #54 "Plugins probably don't unpatch multiple versions of the same module"
The current plugin implementation might not correctly unpatch all versions of the same module. Though this is a rare case (it involves a combination of wanting to unpatch, and _also_ having multiple versions of the same module), we should fix this for correctness' sake.

[2018-06-19 20:28] kjin commented on #53
Yes, we are planning to add it within the next month.

[2018-06-20 12:00] fabiogomessilva commented on #8
Was addressed by #35

[2018-06-20 12:00] #8 closed

[2018-06-20 22:16] Dragomir-Ivanov commented on #53
That is so cool. Thanks @kjin . Feel free to close this issue.

[2018-06-21 14:36] ofrobots opened #58 "Enable greenkeeper or renovate on this repo"
Let's make sure our dependencies are up to date.

[2018-06-22 16:40] travishaagen opened #60 "Help: Stackdriver tracing not working in GKE"
I've had success getting Stackdriver tracing to work with Go, but with NodeJS/Typescript it's not creating any http/https trace events for me. I'm using ExpressJS, but figured it would work with the http/https plugins. Tried to enable all debug logging, but am only getting 1 log entry on startup. Here's the code I'm using to bootstrap stuff (just trying everything at this point):

[code]

This is

[2018-06-22 17:59] #44 closed

[2018-06-25 09:09] #45 closed

[2018-06-25 13:01] danielkhan opened #62 "npm error at exporter-zpages"
On a fresh clone, running npm install exits with an error
[code]

[2018-06-25 16:07] kjin commented on #60
Hi @travishaagen, not sure if you got a chance to see @fabiogomessilva's response in Gitter last Friday:

Something else to point out is that the instrumentation packages don't have the opencensus- prefix. The core package does but we are removing it.

[2018-06-26 00:54] kjin commented on #62
Are you running on Windows? It looks like the [compile script is bash-specific](https://github.com/census-instrumentation/opencensus-node/blob/db46f4ff51042df501b1c625d61714bf8799c833/packages/opencensus-exporter-zpages/package.json#L14).
@djonathascardoso would you mind looking into this?

[2018-06-26 10:59] djonathascardoso commented on #62
Probably is a problem with Windows. @danielkhan could you confirm your OS?

[2018-06-26 16:52] kjin commented on #62
@djonathascardoso I was able to re-produce this on Windows. We should rethink the process for having multiple commands in a single script, since `;` is not portable (also, it ignores exit values).

[2018-06-26 17:34] kjin opened #64 "@types/node dependency is currently fixed"

[2018-06-27 16:45] OsvaldoRosado commented on #62
I ran into this as well. Definitely Windows specific. Quick and easy workaround is to use WSL/Bash on Windows https://docs.microsoft.com/en-us/windows/wsl/install-win10

`;` vs `&&` isn't the only problem. There's also reliance on POSIX tools like `cp`

[2018-06-27 18:10] danielkhan commented on #62
Yes I can confirm that this happened on a windows machine. Thank you for the swift response.

[2018-06-27 18:41] kjin commented on #62
@OsvaldoRosado @danielkhan Thanks for the responses. Supporting Windows is important (after all, we don't want to be restrictive on the platform) but at this early stage we haven't had a chance to fully test things about on Windows.

I will go through the npm scripts and make changes that will be more cross-platform, but I think some more complex commands might need to warrant a longer-term soluti

[2018-06-29 16:32] #62 closed

[2018-07-02 16:55] kjin commented on #11
We've changed the package names to be shorter as you suggested. As for pros/cons, there aren't really any pros for keeping it as `@opencensus/opencensus-core` as far as I know. `@opencensus/core` is better because it is less redundant.

[2018-07-02 16:56] ofrobots commented on #11
👍

[2018-07-02 16:56] #11 closed

[2018-07-03 00:56] kjin commented on #37
@fabiogomessilva This still applies. I am seeing SD Exporter failures on my local machine. Maybe an env var problem?

[code]

[2018-07-07 01:51] kjin commented on #37
@fabiogomessilva Issues seem related to env vars on my local machine. Things worked after I ran it in a docker container.

[2018-07-07 01:51] #37 closed

[2018-07-23 21:33] icco commented on #53
Excited for this! Is there any way we can help @kjin?

[2018-07-26 12:07] novemberborn opened #83 "@opencensus/exporter-zpages is published without templates"
👋

I'm exploring integrating a Node.js server with the packages here. Looks like the `@opencensus/exporter-zpages` has been published to npm without templates:

[code]

Perhaps a new version could be published?

[2018-07-30 15:32] tcolgate opened #86 "jaeger: process details are not being set."
`process.hostname` and `process.ip` are not being set in the final spans. I suspect this is true for any other tags passed in to the constructor.

[2018-07-31 17:13] #86 closed

[2018-07-31 17:14] kjin commented on #83
@novemberborn Thanks for the heads-up!

[2018-07-31 17:15] kjin commented on #86
@tcolgate Are the Jaeger modules ready for another release, or did you have more changes that you were planning to get in first?

[2018-07-31 17:24] kjin commented on #53
@icco It is currently still in the works. Sorry for the delay -- we had to make some changes on how the core OC Stats implementation was being added. That being said the work mostly already been done (#75) and is pending a rebase.

Thanks for your patience!

[2018-07-31 19:41] tcolgate commented on #86
@kjin a release would be great, along with the propagator. It would be even better if we could get #78 in, but that would require a release of core. Also, the fixes for the http integrations would be useful. Things are looking really quite usable now and I'm kind of itching to get us using this in a few projects.

[2018-08-16 04:24] justindsmith opened #95 "Support W3C TraceContext Propagation"
https://github.com/w3c/distributed-tracing

[2018-08-21 05:32] justindsmith opened #99 "Probability Sampler does not respect probability"
Creating a Probability Sampler does not respect the configured probability. It is always choosing to sample the trace (returning `true`).

Easy to reproduce:
[code]
Notice in the logging output that the rootSpan is created for every attempt, which shouldn't happen for such a low probability.

I think the issue is that the sampler is using the `Number.MAX_VALUE` (1024-bits), which is far too large

[2018-08-23 00:17] thesandlord opened #102 "Zipkin Trace Exporter not working"
I have a very simple HTTP server and am trying to use the Zipkin Exporter.

Here is a reproduction of my code:

[code]

Unfortunately, traces are never sent to Zipkin and eventually the Node process dies with:
 `socket hang up`

The same code with the default `console.log` exporter or the Jaeger exporter works fine. Not sure why Zipkin is broken. It does successfully connect to the Zipkin server i

[2018-08-23 00:24] thesandlord opened #103 "Jaeger Trace Exporter not able to serialize child spans"
I have some code that looks like this:

[code]

When I use the default console.log exporter, I get the following output:

[code]

However when I use the Jaeger exporter, I get the following error:

[code]

The key error is:
[code]

I don't understand why in the console.log output, it is giving `name: [object Object]`. I feel this is what is causing the span to fail when converting to Thrift and ca

[2018-08-23 23:02] thesandlord commented on #103
Ah looks like there was a syntax error in the README, I fixed the code to the following:

[code]

PR with the README fix here: #104

[2018-08-23 23:02] #103 closed

[2018-08-24 00:35] thesandlord opened #105 "Cannot create nested Child Spans"
Currently, there is no way to create nested spans:

[code]

In the [type definition](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/model/types.ts#L276), startChildSpan has the following signature:

[code]

However, if you look at the [actual function implementation](https://github.com/census-instrumentation/opencensus-node/blob/master/pack

[2018-08-25 02:17] adriancole commented on #102
@djonathascardoso can you please validate this issue? I didn't know about this repo (am not watching by default, but now am). I am literally the only fulltime staff on zipkin and working on a lot of community concerns, but this issue already cause perception damage due to @thesandlord tweeting. So if you don't have time, I'll make time

[2018-08-25 03:48] adriancole commented on #102
The issue is that "url" wasn't a url, it was just the host/port part:

Should be 'http://localhost:9411/api/v2/spans' and that should be in the README (it is in the test)

[2018-08-25 03:48] #102 closed

[2018-08-25 08:36] odeke-em opened #108 "package name discrepancies in suffixes: /core for stats vs /nodejs for tracing"
Thank you for the work on the Node.js implementation!

I just noticed a weird discrepancy in the NPM package names.

For tracing, we need:
[code]

For stats, we need:
[code]

What's the rhyme and reason behind the Node.js package names? `nodejs` as a suffix doesn't strike me as related to tracing, neither does `core` relate to stats. I ask because currently on the website we've got https://opencen

[2018-08-27 07:00] hvent90 opened #109 "When will the latest version be submitted to NPM?"
Hi all,

Thanks for providing such an amazing library.

I noticed that the Stackdriver tracing exporter on Github translates a span's attributes, but the version on NPM does not.

When will the latest version on Github be published to NPM?

I wrote a quickstart tutorial using the stackdriver tracing exporter and included the usage of attributes. I made a note that it is not currently found in the

[2018-08-27 07:50] hvent90 commented on #105
I second this. For a first time user, my expectation of `startChildSpan`'s arguments is that it would be an object because `startRootSpan` takes an object.

[2018-08-27 11:14] djonathascardoso commented on #102
Yes, it's exactly what Andrian said. Put the zipkin post url, it isn't just the server url. We'll improve the readme.

[2018-08-28 09:18] prudhvireddy123 commented on #109
+1, [`Node Js doc`](https://opencensus.io/guides/exporters/supported-exporters/node.js/stackdriver-stats/) . To work along with this documentation  need to publish latest code to npm

[2018-08-28 10:27] chrisdostert opened #110 "propagation-stackdriver causes "Error: socket hang up ""
# Repro
- Wire up tracing per below code snippet
- Start application & make a request

# Expected
traces show up in stackdriver

# Actual
no traces show up in stackdriver and the application crashes w/ the error snippet below a minute or so after receiving a few requests

of note, if I remove propogation traces DO show up in stackdriver so it's something related to the use of `@opencensus/propogat

[2018-08-29 00:57] chrisdostert commented on #110
Interesting, I just tried using `require('@opencensus/propagation-b3')` and it has the same result so it appears the issue does not lie with '@opencensus/propagation-stackdriver'

[2018-08-29 21:48] vivasaayi opened #114 "Support for custom headers"
I am using B3 header propagation to trace our Micro Services (>150). It is working out of the box. I am pushing the logs to Jaeger and also to ElasticSearch for further analysis.

I have another scenario where I have to propagate an additional header, "x-web-page-id", to all the upstream services.

The rationale behind this is, when loading a web page, it can make multiple AJAX calls. At the momen

[2018-08-29 22:05] kjin commented on #109
I batch published everything as `0.0.4` just now. Let me know if there are any additional issues!

[2018-08-29 22:05] #109 closed

[2018-08-30 00:14] hvent90 commented on #109
Thank you!

[2018-08-30 01:29] hvent90 opened #115 "Prometheus README.md says it is trace, but source code is for Metrics"
[Readme says that it is for Tracing](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-prometheus/README.md)

[Source is for stats](https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-exporter-prometheus/src)

[2018-08-30 21:34] hvent90 opened #116 "@opencensus/instrumentation-grpc does not include build files"
Hi all,

I am writing a tutorial on instrumenting a Node gRPC server with `@opencensus-node/instrumentation-grpc`, and unfortunately none of the application files are included in the NPM package.

![screen shot 2018-08-30 at 2 33 47 pm](https://user-images.githubusercontent.com/5974764/44880585-bb5c6580-ac61-11e8-9d0b-aa72d8580359.png)

[2018-08-30 21:35] hvent90 commented on #116
/cc @eduardoemery

[2018-08-30 22:12] eduardoemery commented on #116
Thanks for noticing @hvent90

@kjin could you check this when you update to the packages to the next version please?

[2018-08-31 05:05] yantang-msft opened #117 "Can't propogate trace context with http instrumentation?"
I'm playing with this library and see how the correlation context is propagated through http request.
Here is the snippet
[code]

If I don't add the propagation context, the http instrumentation would successfully create a span for the outgoing request. But if I add the propagation context, it gives me this error. Did I missed anything?
[code]

[2018-08-31 22:32] #116 closed

[2018-09-03 13:01] tcolgate opened #119 "Propagation fails if a new root span is not sampled."
If a new root span is created by startRootSpan, but the decision is made not to sample it, the rootSpan is not passed on (instead null is passed). This results in the propagation code attempting to dereference null to read a spanContext (propagating an unsampled span context is valid behaviour I believe, so that the no-sample decision is passed on).

see:
opencensus-core/src/trace/model/tracer.ts:

[2018-09-03 13:31] tcolgate commented on #119
On further investigation, the gRPC instrumentation avoids the problem doing a NoOp if span is null.
From what I have seen elsewhere, this is not the expected behaviour (unsampled spans should still have context assigned, and be propagated, they just *not* be exported).

[2018-09-03 13:40] tcolgate commented on #119
https://github.com/census-instrumentation/opencensus-node/pull/120

[2018-09-06 22:28] #115 closed

[2018-09-07 18:11] hvent90 opened #123 "v0.0.5 hasn't been published"
Hi all,

I believe there was an intention to release v0.0.5 (https://github.com/census-instrumentation/opencensus-node/pull/118), however v0.0.4 is still the latest.

I apologize if I misunderstood and this issue is in error. Thanks!

[2018-09-10 12:32] rafaeljesus commented on #53
@kjin #75 was closed actually 😕

[2018-09-10 18:52] kjin commented on #53
@rafaeljesus Sorry, I forgot to update this issue -- #75 was superceded with #96, which has been merged. The package has already been published and is available here: https://www.npmjs.com/package/@opencensus/exporter-prometheus

[2018-09-10 18:52] #53 closed

[2018-09-10 18:55] kjin commented on #123
It seems like it was published -- I see 0.0.5 here: https://www.npmjs.com/package/@opencensus/instrumentation-grpc

Let me know if that is not what you observe. You may need to manually install it if you are using a dependent of it, since those were not updated. Unfortunately releasing still sort of a manual process, so sorry about that!

[2018-09-10 20:34] rafaeljesus commented on #53
@kjin yeah I've found it in the code base, thank you anyway 👍

[2018-09-11 14:11] vivasaayi commented on #117
I can reproduce the same error. This happens when a new HTTP request is made by the service.

There is no RootSpan in this case and a new Root Span is created. Some more logs from me:

[code]

[2018-09-13 02:11] songy23 opened #124 "Add OC-Agent Node Exporter."
The OC-Agent Node exporter should:

1. Act as a client of the [Trace RPC service](https://github.com/census-instrumentation/opencensus-proto/blob/d3b7200dbd14743faa22c6642291d76030833cbd/src/opencensus/proto/agent/trace/v1/trace_service.proto#L32) of OC-Agent;
2. Grab current `Span`s from OpenCensus-Node library, transform them to [Span proto](https://github.com/census-instrumentation/opencensus-p

[2018-09-13 21:08] mayurkale22 opened #125 "Allow users to use custom metric name prefix for Stackdriver"
Add a way to override metric name prefix. Today, OpenCensus only supports "custom.googleapis.com" (https://github.com/census-instrumentation/opencensus-node/blob/f7e053fb21528c39ca56ca214176f5de22ec95e2/packages/opencensus-exporter-stackdriver/src/stackdriver-monitoring.ts#L197), but Stackdriver supports more prefixes (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescripto

[2018-09-13 21:29] songy23 commented on #125
Same comment to https://github.com/census-instrumentation/opencensus-python/issues/310#issuecomment-421159257.

[2018-09-14 12:06] antonj commented on #110
I also get this error when using `@opencensus/exporter-stackdriver` but not when using the `@opencensus/exporter-jaeger`so my guess is that is has something to do with the stackdriver exporter.

[2018-09-14 18:40] songy23 commented on #124
Thanks for the help with the Agent Exporter :)

Yes, actually no languages have support for rate-limiting sampler at this moment since it's just proposed to be added to our spec (https://github.com/census-instrumentation/opencensus-specs/pull/158). For now it's safe to just ignore it.

In OC-Agent-Go-Exporter we're testing the Agent exporter against a mock Agent. Please take a look at [mock_agent_

[2018-09-19 16:58] ubbop42 opened #127 "TypeError: tracing.start is not a function"
Hey im getting the above error seems super weird.
`
import * as tracing from '@opencensus/nodejs';
import { StackdriverTraceExporter } from '@opencensus/exporter-stackdriver';
import * as propagation from '@opencensus/propagation-stackdriver';
//...
export const exporter = new StackdriverTraceExporter({
  projectId: GOOGLE_PROJECT_ID
});

  tracing.start({
    exporter,
    logLevel: 4,
    propag

[2018-09-19 21:57] justindsmith opened #129 "Add proto-generated files to opencensus-proto"
The [opencensus-proto](https://github.com/census-instrumentation/opencensus-proto) repository holds the canonical reference proto files for types as well as services. We are beginning to have a need to use those protos to communicate with the OCAgent (#124, #128) and need to use those protos to communicate.

There is some work in #128 to move the proto files into the opencensus-node repo (with ass

[2018-09-24 18:24] mayurkale22 opened #130 "exporter/stackdriver: Auto-populate k8s_container MonitoredResource"
After finishing #38, Please use that util to replace gke_container with k8s_container in Stackdriver exporter with new resource labels.

More Info:
The names of the monitored resource types used by Kubernetes have changed. Link: https://cloud.google.com/monitoring/kubernetes-engine/migration#resource_type_changes

Current (old) release type: gke_container, Beta (new) release type: k8s_container

R

[2018-09-24 23:50] kjin commented on #127
It looks like @eduardoemery's suggestion on Gitter fixes the issue here? If I run your snippet right now I don't seem to see any errors.

[2018-09-24 23:50] #123 closed

[2018-10-03 22:09] #127 closed

[2018-10-04 01:00] mayurkale22 opened #133 "Add Metrics APIs as per "metrics.proto""
Add Metrics package and below classes based on [metrics.proto](https://github.com/census-instrumentation/opencensus-proto/blob/master/src/opencensus/proto/metrics/v1/metrics.proto). Although Metrics proto is still being finalized, We think it is safe to start working on value classes like LabelKey, TimeSeries, Point etc.

- [ ] Metrics: Add LabelKey and LabelValue.
- [ ] Metrics: Add Value and Poi

[2018-10-09 16:40] wesfl opened #137 "@opencensus/core types.js"
Hi there,

I'm brand new to both OpenCensus and TypeScript so apologies ahead of time if there's something I'm misunderstanding.

After `npm i`-ing `@opencensus/core` (which resolved to `0.0.4`), I encountered an issue where the `enum`-s in `build/src/stats/types.d.ts` aren't represented in `build/src/stats/types.js` which lead to runtime errors like

`Cannot read property 'KBYTE' of undefined`

I

[2018-10-11 13:48] BrianChristie commented on #137
I can confirm, I've tested the NodeJS [Metrics QuickStart](https://opencensus.io/quickstart/nodejs/metrics) with the current master of opencensus/core and it works successfully.

Can we get a new release cut and pushed to NPM?

[2018-10-11 15:56] songy23 opened #143 "exporter/prometheus/README: should be a Stats exporter, not Tracing."
https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-prometheus/README.md.

[2018-10-16 17:41] songy23 commented on #124
Fixed in https://github.com/census-instrumentation/opencensus-node/pull/128.

[2018-10-16 17:41] #124 closed

[2018-10-17 17:08] kjin commented on #105
@thesandlord It is intended behavior for all child spans to be direct children of a root span. There isn't a notion of grandchild spans AFAIK on a single process; you can think of root and child spans as being spans tracing incoming and outgoing requests respectively.

@hvent90 On `startChildSpan`'s arguments being an object: I completely agree. This change would be up for grabs if you (or anyone

[2018-10-17 19:01] isaikevych opened #152 "Refactor [exporter-stackdriver] delay to use similar approach like in other languages"
https://github.com/census-instrumentation/opencensus-node/pull/150#issuecomment-430468167
"""One high-level comment: I think a better way may be:
For every `onRecord`, still generate `timeSeries` synchronously.
Buffer the `timeSeries` in an array and export them to backend every 1 minute (or other configured delay) asynchronously.
Export should go in parallel with `onRecord`, i.e shouldn't block e

[2018-10-18 15:07] frankcs commented on #110
Same situation here with `require('@opencensus/propagation-b3')`.
The `Error: socket hang up` is happening with node `v8.12.0`.
When using with node `v10.12.0` the issue dissapears and traces show up in stackdriver.

[2018-10-18 19:01] isaikevych commented on #125
Done by https://github.com/census-instrumentation/opencensus-node/pull/151

[2018-10-18 19:01] #125 closed

[2018-10-18 19:17] songy23 opened #154 "Releasing: Consider integrating npm publish into CI and reconsider version increments in lock step."
See https://github.com/census-instrumentation/opencensus-node/pull/153#issuecomment-431122067.

[2018-10-19 09:31] PikBot opened #156 "Opencensus-core/ TypeError: Cannot read property 'MS' of undefined"
Hi, I am trying to collect metrics using the Prometheus exporter and get the following error when creating a new measure:
[code]
MeasureUnit is undefined, even though I have imported it.
`const { Stats, AggregationType, MeasureUnit } = require('@opencensus/core');`

Full code is available [here](https://gist.github.com/PikBot/0f596a527c3266732ba91e8239db1f99).
Thank for any help! @odeke-em

[2018-10-22 09:53] BrianChristie commented on #156
See the duplicate issue #137.
We're waiting for @kjin to get a chance to do a new NPM release.

[2018-10-22 18:31] isaikevych commented on #156
The last release has a commit, dfb3b60 fix: remove const enums (#132)

[2018-10-22 23:34] isaikevych opened #158 "TypeError: Cannot read property 'exporter' of null"
Example https://opencensus.io/guides/exporters/supported-exporters/node.js/stackdriver-trace/
Raises the error:
`            if (this.configLocal.exporter) {
                                ^
TypeError: Cannot read property 'exporter' of null
   at Tracing.registerExporter (/usr/local/google/home/isaikevych/g/opencensus-node/packages/opencensus-nodejs/build/src/trace/tracing.js:89:34)`

[2018-10-22 23:35] isaikevych commented on #110
blocked by https://github.com/census-instrumentation/opencensus-node/issues/158

[2018-10-23 18:36] isaikevych commented on #110
@chrisdostert, @antonj, Could you please provide stackdriver version or try one more time with latest master?
I found another issue https://github.com/census-instrumentation/opencensus-node/issues/158 which was fixed, and I cant reproduce current in master, node v8.12.0, I checked `opencensus/exporter-stackdriver` and `@opencensus/propagation-b3`

[2018-10-24 09:48] conord33 opened #161 "Invalid spanId error stackdriver-exporter"
After updating to `0.0.5` I am getting this error when trying to sendTraces:

[code]

It seems that the type of the spanId is invalid. I believe the issue is because the spanId is a hex string instead of a [int64 string](https://developers.google.com/discovery/v1/type-format).

I think this error is caused by this update #126.

[2018-10-25 00:51] isaikevych opened #163 "Add attributes, attributesMap to [opencensus-exporter-stackdriver] stackdriver-cloudtrace.ts"

[2018-10-25 18:33] flands opened #164 "trace/exporters/ocagent: Retry logic check"
Per https://github.com/census-instrumentation/opencensus-service/issues/134 we need to validate that exporters all behave consistently. Work is being tracked for each library:

* https://github.com/census-instrumentation/opencensus-java/issues/1408
* https://github.com/census-ecosystem/opencensus-go-exporter-ocagent/issues/18
* https://github.com/census-instrumentation/opencensus-python/issues/333

[2018-10-25 20:40] isaikevych opened #165 "[exporter-prometheus] repl.js raises an error `Invalid metric name`"
LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO EIUSMOD TEMPOR
/Users/prakritibansal/Desktop/Fifth Semester/OpenCensus/node-app-2/node_modules/prom-client/lib/counter.js:62
			throw new Error('Invalid metric name');
			^

Error: Invalid metric name
    at new Counter (/Users/prakritibansal/Desktop/Fifth Semester/OpenCensus/node-app-2/node_modules/prom-client/lib/counter.js:62:10)

[2018-10-25 20:43] isaikevych commented on #156
Fixed https://github.com/census-instrumentation/opencensus-node/pull/132
@PikBot moved to new issue about `Error('Invalid metric name');` this https://github.com/census-instrumentation/opencensus-node/issues/165

[2018-10-25 20:43] #156 closed

[2018-10-26 16:47] songy23 commented on #165
FYI, in Prometheus there're some [restrictions on the metric names](https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels):

So if the metric name contains '/' or other unsupported characters, you'll get this kind of error.

In Java and Go we do sanitization on metric names: https://github.com/census-instrumentation/opencensus-go/blob/master/exporter/prometheus/prometheus.go#L260

[2018-10-26 20:34] songy23 opened #167 "[exporter-prometheus] Sanitize metric names in getPrometheusMetricName."
https://github.com/census-instrumentation/opencensus-node/blob/097d1de4886e3823181ca5f2a7c11434fb4e779b/packages/opencensus-exporter-prometheus/src/prometheus-stats.ts#L158-L160.

See the original discussion on https://github.com/census-instrumentation/opencensus-node/issues/165#issuecomment-433472097.

We should replace all unsupported characters (e.g '/') with '_' for Prometheus metric names. Ex

[2018-10-26 20:34] songy23 commented on #165
Filed https://github.com/census-instrumentation/opencensus-node/issues/167 to follow up. Closing this issue.

[2018-10-26 20:34] #165 closed

[2018-10-28 13:13] rueian commented on #152
Hi isaikevych,

I created the pull request #168 which makes the exporter sends metrics to Stackdriver periodically.

Could you have a look at it?

[2018-10-30 05:01] whs opened #170 "Test breaks in Node 11"
Requires https://github.com/othiym23/async-listener/commit/e0c269a39c16892c2402b06f398201956b905033 .

[2018-10-31 17:10] mayurkale22 opened #172 "Drop negative bucket bounds and negative values in record API"
Negative values are currently not supported by any of the backends that we support and have histograms (Stackdriver and Prometheus). We have decided to implement a backwards incompatible change and drop negative values in the Record API (We will start with logging an error for few versions then throw an exception).

This could be a breaking change if users are recording negative value for any meas

[2018-11-02 17:57] isaikevych commented on #152
Fixed in https://github.com/census-instrumentation/opencensus-node/pull/168

[2018-11-02 17:57] #152 closed

[2018-11-02 22:54] dnduffy opened #174 "Node package folder location assumptions are broken"
The code in package `@opencensus/exporter-ocagent` has hardcoded relative paths with the incorrect number of back references (..) when looking for `@opencensus/core/package.json`.
To get around this first problem you can run `npm install --legacy-bundling` (but you should not need to do this).

Next it will fail to find proto on ocagent.js:86 because the directory `../../../src/protos/` does not e

[2018-11-03 12:49] icco opened #176 "Stackdriver traces stopped appearing in 0.0.6"
Hi there,

I can't seem to figure out what changed when reading through https://github.com/census-instrumentation/opencensus-node/compare/v0.0.4...v0.0.6, but my traces which were appearing in stackdriver with 0.0.4 stopped appearing when I upgraded to 0.0.6.

My usage of opencensus-node is roughly as follows:

[code]

Any thoughts in what changed between these two versions that would stop traces

[2018-11-03 13:47] icco commented on #176
I tried simplifying the code, but that still doesn't work with 0.0.6.

[code]

[2018-11-05 22:00] mayurkale22 commented on #176
/cc @isaikevych FYA

[2018-11-05 23:21] #161 closed

[2018-11-06 00:30] isaikevych opened #177 "Logger override for [opencensus-core]"
Allow to pass [logger] as an override of default logger for [opencensus-core]

[2018-11-06 10:08] nickform commented on #119
I am curious if I am hitting this issue. Yesterday, I added this change to a node server which was already successfully exporting traces to stackdriver:

[code]
And I immediately started to get ```Cannot read property 'spanContext' of null``` messages followed by the ```Error: socket hang up``` mentioned in #110 .

After turning the logging up, I saw a bunch of messages like ```calling RootSpan.st

[2018-11-06 18:15] mayurkale22 commented on #133
@isaikevych FYI: https://github.com/census-instrumentation/opencensus-go/issues/940#issuecomment-436351968

@bogdandrutu Please correct me if this comment is not true for node.js library.

[2018-11-06 20:54] isaikevych commented on #172
Implemented

[2018-11-06 20:54] #172 closed

[2018-11-07 12:36] tcolgate commented on #119
Closing this. The initial bug was fixed, the wider issues of span propagation remain.

[2018-11-07 12:36] #119 closed

[2018-11-07 14:12] nickform commented on #119
@tcolgate - any advice on how to follow up on the issue I'm having?

[2018-11-07 19:58] isaikevych opened #178 "StackdriverStatsExporter: valueType to string"
Change valueType to use string instead of number

[2018-11-07 19:59] isaikevych opened #179 "Stackdriver use number for value.int64Value"
Change value.int64Value to use number instead of string

[2018-11-07 20:04] mayurkale22 commented on #179
@isaikevych Please verify/correct all TypedValues, you can refer this link: https://cloud.google.com/monitoring/api/ref_v3/rest/v3/TimeSeries#TypedValue

[2018-11-07 20:05] mayurkale22 commented on #178
More info available here : https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors#ValueType

[2018-11-08 21:57] isaikevych commented on #176
@icco Its is still in progress. Could you please use 0.0.5 or 0.0.4 at this time?

[2018-11-08 22:55] isaikevych opened #182 "Stackdriver Trace Exporter: onEndSpan() Tests is broken"
1) should fail exporting by authentication error
[debug] "2018-11-08T22:53:05.224Z"  'ExporterBuffer: added new rootspan'
[debug] "2018-11-08T22:53:05.224Z"  'ExporterBuffer: set timeout'
[error] "2018-11-08T22:53:05.227Z"  'sendTrace error: Nock: No match for request

[2018-11-09 01:25] odeke-em opened #183 "exporter/Zipkin: missing fields"
Reported offline by @vimalraj-a

I am filing this issue to have an actionable item but also to note that it seems like as per https://github.com/census-instrumentation/opencensus-node/blob/bf1f90c65c13861e11e6a0a137935675cae17fce/packages/opencensus-exporter-zipkin/src/zipkin.ts#L142-L152

the following are missing:
* remoteEndpoint
* status
* time events (annotations, messageEvents)
* "tags" whic

[2018-11-09 16:57] icco commented on #176
Sure @isaikevych, is there work I can help with to get this fixed?

[2018-11-09 19:05] isaikevych commented on #176
@icco that would be great

[2018-11-13 18:42] isaikevych commented on #176
@icco we published new version with patch for traces.
Please let me know if it works for you.

[2018-11-14 03:10] icco commented on #176
I tried with the code in https://github.com/census-instrumentation/opencensus-node/issues/176#issuecomment-435589192 and the traces are not showing up.

[2018-11-14 19:38] isaikevych commented on #176
@icco could you please try example [Optional: Add a Delay](https://opencensus.io/quickstart/nodejs/tracing/)
I mixed your example and "Optional: Add a Delay" and the traces showed up.
Also, please let me know if `propagation-stackdriver`'s behavior is unexpected.

[2018-11-14 22:16] isaikevych opened #190 "Add a utils to convert Stats data models to Metric data models"
Example: [MetricUtils.Java](https://github.com/census-instrumentation/opencensus-java/blob/master/impl_core/src/main/java/io/opencensus/implcore/stats/MetricUtils.java)

Fixes #211

[2018-11-15 01:54] icco commented on #176
@isaikevych how would I do that? I'm just using the default express traces. From the example you linked, it doesn't make sense.

[2018-11-15 13:30] icco commented on #176
This is node 10, I tried open-census 0.0.7 and 0.0.5. My package.json has

[code]

[2018-11-15 16:38] isaikevych commented on #176
@icco coult you please change log level `warn` to `trace` and provide results of execution?
Your example works for me:
`{"level":20,"time":1542299598894,"msg":"starting to notify listeners the start of rootspans","pid":258888,"hostname":...,"v":1}
{"level":20,"time":1542299598895,"msg":"starting to notify listeners the end of rootspans","pid":258888,"hostname":...,"v":1}`
Also, I see results in th

[2018-11-15 19:09] isaikevych opened #192 "Add MetricProducer that can be registered for exporting using MetricProducerManager."
Example [MetricProducerImpl.java](https://github.com/census-instrumentation/opencensus-java/blob/90edbd5a8a0ff10d7658bd78beae9434aee8cdbe/impl_core/src/main/java/io/opencensus/implcore/stats/MetricProducerImpl.java)

[2018-11-16 18:33] icco commented on #176
Ok, I found the bug on my side. 0.0.7 did fix the issue. Thank you @isaikevych !

[2018-11-16 18:33] #176 closed

[2018-11-17 00:40] mayurkale22 commented on #38
This utils shouldn't be the part of core package.

[2018-11-19 23:23] mayurkale22 opened #194 "Exporter/Stats/Stackdriver: Add user agent as client header"
Equivalent to https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/master/stats.go#L80-L81.

[2018-11-20 22:00] #178 closed

[2018-11-21 22:29] isaikevych commented on #38
This new requirements blocked by [Resource API](https://github.com/census-instrumentation/opencensus-node/pull/193)

[2018-11-21 22:51] mayurkale22 commented on #38
@isaikevych We discussed yesterday, this work is not blocked by anything. Please fix the PR and include https://github.com/census-instrumentation/opencensus-node/pull/173#discussion_r234377775, also pls don't include this package in core library.

[2018-11-21 23:05] isaikevych commented on #38
@mayurkale22 its blocked by Resources https://github.com/census-instrumentation/opencensus-java/blob/f5097ad811584ef4f5e6d8723329c4726b78432f/contrib/monitored_resource_util/src/main/java/io/opencensus/contrib/monitoredresource/util/MonitoredResourceUtils.java

List<Resource> resourceList = new ArrayList<Resource>();
resourceList.add(Resource.createFromEnvironmentVariables());

[2018-11-26 18:39] mayurkale22 opened #201 "Remove min/max from Distribution."
**Remove support for min/max in the stats Distribution to make it compatible with Metrics.**

Counterpart available here: https://github.com/census-instrumentation/opencensus-java/pull/1542

[2018-11-29 01:46] isaikevych opened #206 "[opencensus-core] stats, drop whole measurement list if some of value is negative"

[2018-11-29 21:55] #206 closed

[2018-11-30 22:52] isaikevych opened #213 "[MetricProducer]"
Add MetricProducer that can be registered for exporting using MetricProducerManager.
--- Change Distribution Data API or add converter
--- Aggregation Data or add converter

[2018-12-04 19:30] #201 closed

[2018-12-06 23:08] odeke-em opened #221 "stats: invoking record with measurements in succession from a single view and single measure cause invalid distribution counts"
Reproduced offline after @mayurkale22 and I examined a problem that @alexamies had encountered with his web client repro with Stackdriver metrics in https://gist.github.com/alexamies/1dd14d5cec4f22e30f69739a0b71e2b6 or inlined below
[code]
Stackdriver wasn't showing metrics and when @mayurkale22 and I examined errors that the Stackdriver API was producing we found that it produced errors such as
[

[2018-12-06 23:49] mayurkale22 commented on #221
<img width="1410" alt="screen shot 2018-12-06 at 3 48 16 pm" src="https://user-images.githubusercontent.com/6525361/49618730-789bdf00-f96e-11e8-800f-0e3372f9f68b.png">

This is how it looks afte the change.

[2018-12-07 21:32] mayurkale22 commented on #190
This is completed in #211 and #191

[2018-12-07 21:32] #190 closed

[2018-12-07 21:33] mayurkale22 commented on #213
This is done in #211

[2018-12-07 21:33] #213 closed

[2018-12-07 21:35] mayurkale22 commented on #183
@vimalraj-a Thanks for filling the issue, Please feel free to submit PR as currently no one is working on it. Contribution procedure: https://github.com/census-instrumentation/opencensus-node/blob/master/CONTRIBUTING.md

[2018-12-07 21:36] mayurkale22 commented on #167
Fixed in #217

[2018-12-07 21:36] #167 closed

[2018-12-08 04:53] mayurkale22 opened #225 "chore(deps): update Out of date dependencies"
Package | Type | Current | Stable | Status
-- | -- | -- | -- | --
@types/mocha | devDependencies | ^2.2.48 | 5.2.5 | **Done**
@types/node | devDependencies | ^9.4.7 | 10.12.12 | **Done**
ts-node | devDependencies | ^4.0.0 | 7.0.1 | **Done**
nock | devDependencies | ^9.2.6 | 10.0.4 | **Done**
nyc | devDependencies | ^11.8.0 | 13.1.0 | **Done**
typescript | devDependencies | ~2.7.2 | 2.9.0 | **Done*

[2018-12-12 20:13] mayurkale22 commented on #58
@ofrobots thanks for the issue.

I am thinking of using  [Renovate Bot](https://github.com/apps/renovate) to keep  source code dependencies up-to-date using automated Pull Requests. I think renovate can help us focus on real work, instead of spending time on  #224, #226, #227, #229 and many more to come ##225)

**Cool renovate features:**
- [All of these choices for configuration](https://renovate

[2018-12-12 20:21] ofrobots commented on #58
We use Renovate for all the Google Cloud Client libraries as well, so definitely +1 on using renovate. The bot does the grunt work and developers can focus on important things. Feel free to take a look at how we do things and copy. Here's an example repo: https://github.com/googleapis/google-auth-library-nodejs

[2018-12-12 20:39] jparsana commented on #58
+1

@mayurkale22 I checked and renovate for opensource projects cost $0. Does that subscription work for OC node repo?

[2018-12-12 21:01] mayurkale22 commented on #58
**Yes, The Renovate Bot App is free for Open Source repositories** (while a paid plan from GitHub Marketplace is required for private repositories). I think once you install bot on OC-Node, will first receive an onboarding Pull Request to verify configs and what to expect stuff.

[2018-12-19 01:36] mayurkale22 commented on #58
Closed via https://github.com/census-instrumentation/opencensus-node/pull/233

[2018-12-19 01:36] #58 closed

[2018-12-19 11:59] renovate[bot] opened #248 "Dependency deprecation warning: @types/protobufjs (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v6.0.0) of dependency `@types/protobufjs` has the following deprecation notice:

`This is a stub types definition for protobufjs (https://github.com/dcodeIO/ProtoBuf.js). protobufjs provides its own type definitions, so you don't need @types/protobufjs installed!`

Marking the latest version of an npm package as deprecated results in

[2018-12-21 19:29] mayurkale22 opened #255 "Exporter/Jaeger: failed to add span for http instrumentation/plugin"
Sample code to enable http plugin and export to jaeger ui.
[code]
Jaeger didn't show any traces, saw below error in logs.

```failed to add span: span size x is larger than maxSpanSize 601```

I am suspecting addition of attributes causing some damage. Need to investigate more.
[code]

[2018-12-22 01:30] adinunzio84 opened #256 "Store child spans in CLS context"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in other the OpenCensus libraries in other languages. If so, please [open an issue on opencensus-specs](https://github.com/census-instrumentation/opencensus-specs/issues/new) first.

**Is your feature request related to a problem? Please describe.**
A clear and concise description o

[2019-01-02 23:32] mayurkale22 opened #260 "opencensus-instrumentation-grpc failed on typescript@2.9.0"
All other packages are updated to typescript to ~2.9.0 #247

**Build error:**
[code]

[2019-01-03 15:06] adinunzio84 commented on #105
From [the docs](https://opencensus.io/tracing/span/parentspanid/):

Seems like this is a bug in the node client.

[2019-01-04 20:21] mayurkale22 opened #262 "Stats/Exporters: Add unregisterExporter method"
Add unregisterExporter method to stop exporters to send stats data to a service.

[2019-01-09 07:30] mayurkale22 opened #267 "Stats: validate TagKey and TagValue"
Similar to other OC libraries, throw an error when TagKeys and TagValues don't have same size.

[2019-01-09 07:35] mayurkale22 opened #268 "Stats: apply restriction on TagKey and TagValue"
The TagKey name must meet the following requirements:

1. Must contain only printable ASCII (codes between 32 and 126 inclusive)
2. Must have length greater than zero and less than 256.
3. Must not be empty.

The TagValue name must meet the following requirements:

1. It MUST contain only printable ASCII (codes between 32 and 126)

Specs: https://github.com/census-instrumentation/opencensus-specs/

[2019-01-09 07:44] mayurkale22 opened #269 "Add instrumentation for HTTP on propagating tags and recording HTTP stats"
Provide instrumentation for HTTP Client and Server to record [HTTP stats](https://github.com/census-instrumentation/opencensus-specs/blob/master/stats/HTTP.md).  Interceptors should also propagate Tags.

[2019-01-09 07:45] mayurkale22 opened #270 "Add instrumentation for gRPC on propagating tags and recording gRPC stats"
Provide instrumentation for gRPC Client and Server to record [gRPC stats](https://github.com/census-instrumentation/opencensus-specs/blob/master/stats/gRPC.md).  Interceptors should also propagate Tags.

[2019-01-10 17:09] vigneshtdev commented on #268
hey i would like to help with this issue. In opencensus java it had a package called tag where different tagvalue & tagkey can be configured. Where should I look for it in this package?

[2019-01-10 21:13] draffensperger opened #272 "Make `Span` start/end times be high-resolution timestamps"
Currently the `start` and `end` times in the [Span interface](https://github.com/census-instrumentation/opencensus-node/blob/3db8bf551d1c2519809f045592364f15707851c2/packages/opencensus-core/src/trace/model/types.ts#L153) use the `Date` type, which is accurate only to milliseconds.

But it would be nice to have higher timestamp accuracy as sub-millisecond times can be useful to measure fast events

[2019-01-11 00:16] mayurkale22 commented on #268
@vigneshtdev Thanks for your interest in the project, all contributions are welcomed and highly appreciated. Currently we dont have separate package for [Tags](https://github.com/census-instrumentation/opencensus-specs/tree/master/tags) api. I think we should create new one same as [Java](https://github.com/census-instrumentation/opencensus-java/tree/master/api/src/main/java/io/opencensus/tags) an

[2019-01-11 02:03] mayurkale22 opened #276 "Decide how to inject MetricProducerForStats."
https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/stats/stats.ts#L40-L46

```MetricProducerForStats``` is MetricProducer for stats that can be registered for exporting using ```MetricProducerManager```. If we don't add or register this stats producer into ```MetricProducerManager```, stats data will not be exported to backend/exporter.
[code]

At th

[2019-01-11 02:05] mayurkale22 commented on #276
@draffensperger @justindsmith @OsvaldoRosado Let me know your thoughts on this.

[2019-01-11 13:50] draffensperger commented on #276
My intuition is that since the metrics producer manager is a singleton, that `Stats` should be a singleton and I like that it follows the pattern of `Tracing`. I don't think I'm in a good position to assess the impact of a breaking change though - if we do it could we show a before/after example in the CHANGELOG or similar?

[2019-01-11 18:57] mayurkale22 opened #279 "typescript@3.2.0 update failed plugins and core packages."
Affected packages:

- opencensus-core
- opencensus-instrumentation-http
- opencensus-instrumentation-https
- opencensus-instrumentation-http2
- opencensus-instrumentation-grpc
- opencensus-instrumentation-mongodb

**Build error: on opencensus-core package**

src/internal/cls-ah.ts:80:34 - error TS2345: Argument of type 'IArguments' is not assignable to parameter of type 'any[]'.
  Type 'IArguments

[2019-01-11 18:58] mayurkale22 commented on #279
#252

[2019-01-11 19:38] mayurkale22 commented on #108
I am not aware of the initial reasoning behind keeping ```tracing``` api in ```@opencensus/nodejs``` and ```stats``` in ```@opencensus/core```. I think we should move everything from ```@opencensus/nodejs``` package to ```@opencensus/core``` package and deprecate ```@opencensus/nodejs```. With this, it will be consistent with other language libraries and less confusion for users. This would be a b

[2019-01-11 19:45] draffensperger commented on #108
I was wondering about that myself too. From a purely Node.js perspective, I think merging the two makes total sense. For the `opencensus-web` project though, what I'm hoping to do is import only interfaces and not the Node-specific implementations.

For that purpose, it might be nice to have some package like `core-types` that had *only* TypeScript interfaces with generic JS types (nothing Node-sp

[2019-01-12 01:43] draffensperger commented on #272
We may be able to make this less of a breaking change by introducing new field names for `Span` for the high resolution start/end times but keep `start` and `end` as property accessors that return `Date`. Then eventually those old fields could be deprecated and removed. Now sure how much we are concerned about backwards compatibility at this point but that is an option.

[2019-01-12 05:19] vigneshtdev commented on #268
I think that it is the correct way to go, as it will make implementation across all languages more consistent. However it would require major refactoring in both src & tst

[2019-01-12 19:59] justindsmith commented on #95
Good catch. Closing now.

[2019-01-12 19:59] #95 closed

[2019-01-12 20:17] justindsmith commented on #108
Yes, the initial idea (from my understanding) was that `core` would hold non-environment-specific things and then `nodejs` would be the implementation for the nodejs environment, with the ultimate goal of being able to support a `web` environment as well. Apparently that's broken down, and was never really validated with any integration testing.

We could do a `core-types` package to separate inte

[2019-01-13 05:16] vigneshtdev commented on #268
Or else if such refactoring in unnecessary we can modify the existing invalidTags method. Currenlty it only check if the tagkey & tagvalue have printable characters.

[2019-01-14 04:34] mayurkale22 commented on #192
This issue is handled by https://github.com/census-instrumentation/opencensus-node/pull/253

[2019-01-14 04:34] #192 closed

[2019-01-14 04:44] mayurkale22 commented on #270
**Specs are available here:** https://github.com/census-instrumentation/opencensus-specs/blob/master/stats/gRPC.md

**Equivalent counterpart in Java**: https://github.com/census-instrumentation/opencensus-java/tree/master/contrib/grpc_metrics/src/main/java/io/opencensus/contrib/grpc/metrics

**Equivalent counterpart in Go**: https://github.com/census-instrumentation/opencensus-go/blob/2269ed7aa577

[2019-01-14 14:37] draffensperger commented on #108
Whether or not we end up doing the work to separate out a `core-types` package, I think at a minimum it would be useful to make sure that there are separate TypeScript interfaces for the core trace, stats and metrics API parts of the library (which I think there are now, just wanting that to continue as a best practice).

[2019-01-14 20:03] vigneshtdev commented on #270
should i modify opencensus-intrumentation-grpc or create a new package?

[2019-01-16 00:59] mayurkale22 opened #285 "Add TraceParams Limits"
Add functionality to hold global trace parameters (like Attributes, Annotations etc.). Limits will be enforced on each span in order to prevent unbounded memory increase for long-running spans.

Specs: https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/TraceConfig.md#traceparams

Counterpart in Java: https://github.com/census-instrumentation/opencensus-java/blob/master/ap

[2019-01-16 18:41] vigneshtdev commented on #270
what is equivalent of `Stats.getViewManager()`(https://github.com/census-instrumentation/opencensus-java/blob/master/contrib/grpc_metrics/src/main/java/io/opencensus/contrib/grpc/metrics/RpcViews.java#L168) in node package?

[2019-01-16 19:15] mayurkale22 commented on #270
```ViewManager``` in Java is for registering views for collecting stats. In Node, you can do that using ```Stats``` API itself. (example: ```stats.registerView(view)```).

[2019-01-16 19:48] vigneshtdev commented on #270
but there is no way to get views in node package

[2019-01-16 20:26] DazWilkin opened #286 "UnhandledPromiseRejectionWarning ... "The metric already exists.""
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?

[code]

### What version of Node are you using?

[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

Wrote a simple StatsD backend for OpenCensus:
https://github.com/DazWilkin/statsd-opencensus-backend

It exports to a Stackdriver workspace and runs a Pro

[2019-01-16 21:53] DazWilkin opened #287 "No need to `stats.registerView(view)`"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
[code]
### What version of Node are you using?
[code]
### What did you do?
If possible, provide a recipe for reproducing the error.

Attempting to run `examples/stackdriver.js`

### What did you expect to see?

Metrics should not be exported unless they are captured by Views.

In the exampl

[2019-01-16 22:03] DazWilkin opened #288 "Inconsistent tag behavior between Stackdriver (incorrect) and Prometheus (correct)"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
[code]

### What version of Node are you using?
[code]

### What did you do?
Duplicating the Stackdriver example for Prometheus, an error arose from the Prometheus implementation. It (correctly) complains that the sample creates tags `["method"]` but then attempts to apply tags `["method","

[2019-01-16 22:39] mayurkale22 commented on #288
Thanks @DazWilkin for reporting an issue, similar issue is already opened for validating tag keys and tag values https://github.com/census-instrumentation/opencensus-node/issues/267

[2019-01-16 22:50] mayurkale22 opened #290 "Remove registerView hook from createView API"
This is related to #287

[2019-01-16 22:50] mayurkale22 commented on #287
Currently, ```createView()``` method is combined with ```registerView()``` (internal call). I have opened an issue to deperecate this behavior. As you mentioned, ideally user should call ```registerView()``` explicitly to listen to new measurements in its measure.

[2019-01-17 07:57] mayurkale22 commented on #270
I think we should add ```gerView(view)``` inside Stats API. Something like [python](https://github.com/census-instrumentation/opencensus-python/blob/dfae33d14d48a7a23ef25b8ac886acfcccfe3ee7/opencensus/stats/measure_to_view_map.py#L49) or [Java](https://github.com/census-instrumentation/opencensus-java/blob/master/impl_core/src/main/java/io/opencensus/implcore/stats/MeasureToViewMap.java#L126). As

[2019-01-17 08:01] mayurkale22 opened #292 "Add tags package [core]"
Specs : https://github.com/census-instrumentation/opencensus-specs/blob/master/tags/TagMap.md#tag

Counterpart in Python: https://github.com/census-instrumentation/opencensus-python/tree/master/opencensus/tags

[2019-01-17 22:31] songy23 commented on #268
Fixed in #280.

[2019-01-17 22:31] #268 closed

[2019-01-17 23:38] mayurkale22 opened #296 "Tags: Add support for TagMetadata"
Implement local and request tag scope as described in the spec at https://github.com/census-instrumentation/opencensus-specs/blob/master/tags/TagMap.md#tagmetadata.

See https://github.com/census-instrumentation/opencensus-java/issues/1666 and https://github.com/census-instrumentation/opencensus-java/pull/1696 for work in the java client.

[2019-01-17 23:39] mayurkale22 opened #297 "Tags: Support HTTP propagation."
1. Agree on the text format for tag HTTP propagation.
2. Add HTTP plugin for tags.

[2019-01-19 07:35] vigneshtdev commented on #270
@mayurkale22  can you take a look at this: https://gist.github.com/vigneshtdev/c198d964cccbfc05a3a45e8f18a5d87f

[2019-01-21 20:31] tstirrat15 opened #301 "Jaeger exporter require wrapper does not play nicely with Webpack"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
Master branch.

### What version of Node are you using?
Node 8

### What did you do?
Our project bundles both frontend and backend code using [Webpack](https://webpack.js.org/). This means that while [this code](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/

[2019-01-22 12:20] BrianChristie opened #304 "Trace Exporter: Support Amazon X-Ray"
Is it planned to add support for exporting traces to Amazon X-Ray?
There is a Golang exporter https://github.com/census-ecosystem/opencensus-go-exporter-aws

Or is the plan to implement all new exporters in the [OpenCensus Service](https://github.com/census-instrumentation/opencensus-service) so as to avoid duplication?

Thanks!

[2019-01-22 17:19] flands commented on #304
Recommendation would be to have the node clients send to the OC service and have the OC service send to X-ray. The best reference architecture would be node > OC agent > OC collector > destination(s)

[2019-01-22 18:46] mayurkale22 opened #305 "Update Stats, other packages with new Tags API"
Use newly added tags api (https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-core/src/tags) in stats.

Change
```tagKeys: string[]```  -> ```tagKeys: TagKey[]``` and interface
```Tags``` -> ```TagMap```.

[2019-01-22 23:30] #290 closed

[2019-01-23 08:22] mayurkale22 commented on #267
Closed in #292

[2019-01-23 08:22] #267 closed

[2019-01-24 17:49] songy23 opened #306 "Tracing: Add child span count to Span."
See https://github.com/census-instrumentation/opencensus-proto/blob/6d79e46232e026136ae013489ef611ca721cb839/src/opencensus/proto/trace/v1/trace.proto#L302.

[2019-01-24 19:40] vigneshtdev commented on #285
I can help with this one.

[2019-01-24 19:56] mayurkale22 commented on #285
@vigneshtdev Awesome, please go ahead and send the PR.

Counterpart in Go : https://github.com/census-instrumentation/opencensus-go/pull/1015

[2019-01-24 19:58] vigneshtdev commented on #285
Meanwhile can you look at the gist I have posted for grpc instrumentation

[2019-01-24 20:09] mayurkale22 commented on #285
Sure, I will do that today.

[2019-01-24 21:59] mayurkale22 commented on #270
@vigneshtdev this is good start, I would suggest following changes.

1. Separate metrics for client and server (```client-metrics.ts``` and ```server-metrics.ts```)
2. Use new Tags API (https://github.com/census-instrumentation/opencensus-node/pull/307).
3. I just see constants in gist, do you plan to add record methods (counterpart in go: https://github.com/census-instrumentation/opencensus-go/bl

[2019-01-28 16:02] vigneshtdev commented on #285
hey in case trace parameters in tracer configuration are not specified should we default to max values or mark those fields are 0?

[2019-01-29 07:10] #305 closed

[2019-01-29 07:11] mayurkale22 commented on #276
This is closed in https://github.com/census-instrumentation/opencensus-node/pull/291

[2019-01-29 07:11] #276 closed

[2019-01-29 19:38] mayurkale22 commented on #270
@vigneshtdev I was hoping to see your PR, let me know if you have any question?

[2019-01-30 01:09] #38 closed

[2019-01-30 18:45] mayurkale22 opened #316 "Enforce TraceParams Limits"
After finishing #311, Please use that functionality (global trace parameters) to enforce limits on attributes, annotations, links and message events (better to handle each in separate PR).

Also, update ```droppedAnnotationsCount```, ```droppedMessageEventsCount```, ```droppedAttributesCount``` and ```droppedLinksCount``` accordingly.

Counterpart in Java: https://github.com/census-instrumentation

[2019-01-30 18:46] mayurkale22 commented on #316
/cc @vigneshtdev

[2019-01-30 18:50] vigneshtdev commented on #316
I will try to finish off #270 first.

[2019-01-30 18:58] mayurkale22 commented on #316
@vigneshtdev just wanted to keep you in this loop. If you don't mind, I will implement this (later this week). Let me know. Thanks again!

[2019-01-30 20:00] #130 closed

[2019-01-31 18:03] #194 closed

[2019-01-31 19:21] mayurkale22 opened #322 "Use Trace SDKs (v2 API)"
Currently, OC-Node uses Trace SDKs (v1 API) -> which doesn't support ```Annotations```, ```Links```, ```Message Events```, ```Time Events``` etc.

The plan is to migrate to Trace SDKs (v2 API) asap. All of the other OC languages are on V2 API.

https://github.com/googleapis/google-api-nodejs-client/tree/master/src/apis/cloudtrace

[2019-01-31 22:36] mayurkale22 commented on #285
Closed in #311, the next part is to enforce these limits #316

[2019-01-31 22:36] #285 closed

[2019-02-01 17:41] vigneshtdev commented on #270
hey what is *stats.OutPayload supposed to mean?
https://github.com/census-instrumentation/opencensus-go/blob/2269ed7aa5777d1157c9674a6079207a0f32b68a/plugin/ocgrpc/stats_common.go#L85

[2019-02-01 19:09] mayurkale22 commented on #270
I am not a Go expert, @rghetia Could you please shed light on this?

[2019-02-01 19:17] mayurkale22 commented on #288
The original issue #267 is already closed and I have verified the behavior. Will be releasing new version (0.0.9) soon with the fix.

[2019-02-01 19:19] mayurkale22 commented on #287
The fix will be available in the new version (0.0.9), closing this one. @DazWilkin thanks for the issue.

[2019-02-01 19:19] #287 closed

[2019-02-04 18:37] mayurkale22 opened #325 "gRPC tag propagation"
Like the span context, we need to be able to propagate the TagMap along with the request. We need to do this for both gRPC and HTTP.

#326 added binary serialization for the tag map. The last step is to update the gRPC client interceptor to read the tag map from the gRPC metadata and insert it into the OC execution context and update the gRPC server interceptor to attach the tag map to gRPC respon

[2019-02-04 18:55] mayurkale22 opened #326 "Binary Format serializer for TagContext"
Add methods for serializing and deserializing ```TagContext (TagMap)``` with the binary format. The format defined in this class should be shared across all implementations of OpenCensus. It allows tags to propagate across requests. See [opencensus-specs](https://github.com/census-instrumentation/opencensus-specs/blob/master/encodings/BinaryEncoding.md#tag-context), for the specification of the cr

[2019-02-04 21:25] mayurkale22 opened #327 "Tracing: Add message to Status to Span."
Current ```Span -> status``` is represented as only a number.

Expected:
[code]

See https://github.com/census-instrumentation/opencensus-proto/blob/master/src/opencensus/proto/trace/v1/trace.proto#L316-L323

Counterpart in Python: https://github.com/census-instrumentation/opencensus-python/blob/master/opencensus/trace/status.py

[2019-02-05 17:43] akayami commented on #255
I'm running into the same error with different numbers:

`failed to add span: span size 831 is larger than maxSpanSize 518`

[2019-02-05 17:50] akayami commented on #255
Removing maxPacketSize: 1000 from jaegerOptions fixed the problem

[2019-02-05 18:12] mayurkale22 commented on #255
Perfect, I tried the same and worked for me. I think we should close this issue now. Feel free to open it again if you see any issue.

[2019-02-05 18:12] #255 closed

[2019-02-06 18:38] #327 closed

[2019-02-07 18:20] mayurkale22 opened #333 "Tracing: Add enum for MessageEvent Type, Link Type and Span Kind"
Consider replacing ```string``` type with strict enum type for ```MessageEvent```, ```Link``` and ```SpanKind``` (similar to other libraries). Specs: https://github.com/census-instrumentation/opencensus-proto/blob/6d79e46232e026136ae013489ef611ca721cb839/src/opencensus/proto/trace/v1/trace.proto#L186-L193

Example:

SpanKind
[code]

LinkType
[code]
MessageEventType
[code]

[2019-02-08 00:35] yuriatgoogle opened #336 "Inaccurate timing information for grpc?"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using? 0.0.8
### What version of Node are you using? 8.14.0

### What did you do?
If possible, provide a recipe for reproducing the error.

My repo is here - https://github.com/yuriatgoogle/node-tracing/tree/master/opencensus
I'm trying to trace both the front-end and back-end calls, but the timin

[2019-02-08 00:42] yuriatgoogle commented on #336
![image](https://user-images.githubusercontent.com/26609620/52452294-5b62c880-2af7-11e9-954b-87342c3a6057.png)

[2019-02-08 01:12] mayurkale22 commented on #336
Looks like you  are closing (end) spans before getting response from gRPC call.

Modified code:
[code]

Now, I could see latency between 1-5 seconds.
![screen shot 2019-02-07 at 5 06 35 pm](https://user-images.githubusercontent.com/6525361/52453117-c95cbf00-2afa-11e9-91dc-c18964eed4a1.png)

Please verify and let us know.

[2019-02-08 01:14] #316 closed

[2019-02-08 17:20] yuriatgoogle commented on #336
It looks like the only change is moving `rootSpan.end()` within the sayHello function before sending the user response - confirmed that this did, in fact, make my timings accurate.  Thank you!

[2019-02-08 17:20] #336 closed

[2019-02-08 17:20] yuriatgoogle commented on #336
![image](https://user-images.githubusercontent.com/26609620/52494412-cc9b8d80-2b82-11e9-88a8-1502d976894d.png)

[2019-02-08 19:41] #333 closed

[2019-02-12 19:39] kjin opened #340 "B3 Propagation UX issues"
Working on support for propagation via OpenCensus propagation modules in Stackdriver Trace (https://github.com/googleapis/cloud-trace-nodejs/pull/950), I ran into a couple of issues:

* Because `strictNullChecks` is turned off, `B3Format` does an unsafe non-null cast ([source](https://github.com/census-instrumentation/opencensus-node/blob/38ed0a2dde9c927054c7e392ae7012b89b921577/packages/opencensu

[2019-02-12 21:30] vigneshtdev commented on #270
@mayurkale22 ``` import { globalStats } from '@opencensus/core'; ``` is not able to find the module opencensus/core. Its not only effecting the files I am working in but the whole package`opencensus-instrumentation-grpc` is having this issue. Any resolve?

[2019-02-12 21:37] #322 closed

[2019-02-13 05:03] mayurkale22 commented on #270
@vigneshtdev ```import { globalStats } from '@opencensus/core';``` should work, this is how I have been using everywhere. FYI -> we have release  OpenCensus Node (0.0.9) version https://github.com/census-instrumentation/opencensus-node/releases/tag/v0.0.9.

[2019-02-13 05:27] vigneshtdev commented on #270
Hmm strange. I did notice that in the workspace some packages compiled with that import. But some others didn't. Also the version of @opencensus/core was 0.0.8.

[2019-02-13 20:10] mayurkale22 commented on #340
@kjin Thanks for filling an issue. B3 and TraceContext format are using the common core propagation interface (https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/propagation/types.ts#L36-L40), it makes sense to implement same for the Stackdriver propagation module.

[2019-02-15 07:45] mayurkale22 commented on #39
closed in #338

[2019-02-15 07:45] #39 closed

[2019-02-18 19:20] #183 closed

[2019-02-18 20:39] mayurkale22 opened #348 "feat: enable strictNullChecks on this repo."
```strictNullChecks``` will help us to make the code safer (referencing nulls or undefined values), more robust and reduce some boilerplate.

- [x] opencensus-core
- [x] opencensus-nodejs
- [x] opencensus-instrumentation-http
- [x] opencensus-instrumentation-grpc
- [x] opencensus-propagation-tracecontext
- [x] opencensus-exporter-zipkin
- [x] opencensus-exporter-jaeger
- [x] opencensus-instrumenta

[2019-02-20 17:18] vigneshtdev commented on #326
I can help out with this one.

[2019-02-20 18:40] mayurkale22 commented on #326
@vigneshtdev awesome, please feel free to assign this issue to yourself and let us know if you have any questions.

[2019-02-20 19:05] vigneshtdev commented on #326
In place of `ByteArrayDataOutput`, is using `Int8Array` or should i look to make use of `protobuf ` https://github.com/dcodeIO/ProtoBuf.js/

[2019-02-22 22:23] songy23 opened #356 "Tracing: Add Double/Float64 Attribute."
Proto change: https://github.com/census-instrumentation/opencensus-proto/pull/98.

Counterpart in Go: https://github.com/census-instrumentation/opencensus-go/issues/900
Java: https://github.com/census-instrumentation/opencensus-java/pull/1442.

[2019-02-25 22:22] songy23 commented on #356
Closing - number in Node is always represented as double precision, so nothing is required to be done here.

[2019-02-25 22:22] #356 closed

[2019-02-25 22:38] mayurkale22 commented on #326
It should go to ```opencensus-core -> tags -> propagation.```

[2019-02-26 02:20] mayurkale22 opened #361 "Add HTTP instrumentation example"
Similar to gRPC -> https://github.com/census-instrumentation/opencensus-node/tree/master/examples/grpc

[2019-02-26 23:42] songy23 opened #365 "Exporter/Stackdriver: Support Exemplar in Stackdriver TimeSeries."
Stackdriver Monitoring has added support for `Exemplar` in the latest client libraries. Modify our Stackdriver Stats exporter to support it.

Java counterpart: https://github.com/census-instrumentation/opencensus-java/pull/1771.

[2019-02-27 01:35] justindsmith opened #367 "Add ConfigStream behavior from OCAgent"
The OC Agent has defined a grpc `Config` stream in their proto, which is used to push configuration changes (sample policy, etc) from the agent to a client. This allows for a centralized configuration.

The definition of the features is currently only defined in the [`trace_service.proto`](https://github.com/census-instrumentation/opencensus-proto/blob/master/src/opencensus/proto/agent/trace/v1/tr

[2019-02-27 01:37] justindsmith opened #368 "Add example for tracing"
An example should be written about getting up and running with the tracing instrumentation.

Should include:
1. Instantiating a tracer.
2. Starting and ending a root span - including a discussion of auto-instrumented libraries.
3. Starting and ending a child span.
4. Exporting spans using an exporter.

[2019-02-27 01:38] justindsmith commented on #174
@dnduffy Thanks for the submitted issue! Sorry it took a bit of time to get around to it. I've just pushed a fix that will get picked up in the next release.

[2019-02-27 01:38] #174 closed

[2019-02-27 20:06] justindsmith commented on #367
Note that - to my knowledge - Config stream support is not yet included in any other languages exporter, so we are not "behind" from this perspective.

We should probably wait for @pjanotti and @songy23 to give the go ahead before re-enabling this functionality.

[2019-02-28 02:09] #270 closed

[2019-02-28 15:01] draffensperger commented on #105
I would agree with the value of creating nested child spans. If there are multiple interesting operations with sub-operations within a given request, and they are executing in parallel, then the relationships between the sub-operations could be lost because all spans are just connected to the overall request root. This could make the visualization of the sub-operation spans rendered in the wrong p

[2019-02-28 18:05] #306 closed

[2019-02-28 19:44] mayurkale22 commented on #117
Closed in #324, Will have an example for this soon #369 (PR in review)

[2019-02-28 19:44] #117 closed

[2019-02-28 19:55] mayurkale22 commented on #225
This is ongoing work, currently all the dependencies are up to date. We have configured [renovate bot](https://github.com/census-instrumentation/opencensus-node/pull/233) to address out of date dependencies in the future. Closing now.

[2019-02-28 19:55] #225 closed

[2019-02-28 20:01] mayurkale22 commented on #288
This is included in 0.0.9 release, feel free to open again if you see the same issue.

[2019-02-28 20:01] #288 closed

[2019-02-28 21:14] #361 closed

[2019-03-01 23:03] mayurkale22 commented on #286
Would you like to give it try with ```0.0.9``` version? I ran your example locally but couldn't see the warning or error. If you still see the issue, but share the receipe to reproduce it. Thanks.

[2019-03-01 23:07] mayurkale22 commented on #340
@kjin Did you get a chance to look at this? I remember you volunteer to help with this. Let me know if you still have bandwidth to take care of this.

[2019-03-01 23:10] mayurkale22 commented on #170
@whs FYI added support for node 11 ci job. All the tests are passing there. Closing this isssue.

[2019-03-01 23:10] #170 closed

[2019-03-01 23:13] mayurkale22 commented on #60
Hi @travishaagen, let us know if this issue is still valid. I will wait for your response for a few days before closing this bug.

[2019-03-02 00:02] kjin commented on #340
I will not have bandwidth to look at this within the next two weeks. But if it can wait I can circle back to it.

[2019-03-02 18:18] travishaagen commented on #60
@mayurkale22 : I am no longer working on a project that needs this. Closing :)

[2019-03-02 18:18] #60 closed

[2019-03-02 18:58] DazWilkin commented on #286
I'm taking some time off next week but will try to find time to try this on Monday.

[2019-03-03 20:24] #368 closed

[2019-03-04 18:45] mayurkale22 opened #384 "Exporter/Trace/Stackdriver: Consider to use gRPC call (BatchWriteSpansRequest) for sending data to backend"
Currently we are using HTTP calls to write data to cloudtrace v2 (stackdriver) backend. Consider to use gRPC call (BatchWriteSpansRequest) for sending data.

TODO: https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-stackdriver/src/stackdriver-cloudtrace.ts#L130

API Link:
https://cloud.google.com/trace/docs/reference/v2/rpc/google.devtools.cloudtrace

[2019-03-04 18:55] mayurkale22 opened #385 "Support recording Exemplars"
Record and store exemplar.

[Proto definition](https://github.com/census-instrumentation/opencensus-proto/blob/master/opencensus/proto/stats/metrics/metrics.proto#L236-L250):

[code]
Counterpart: https://github.com/census-instrumentation/opencensus-python/pull/287

https://github.com/census-instrumentation/opencensus-node/blob/77eada8756142f5f9237d536f91abf5de0e1acc2/packages/opencensus-core/src/s

[2019-03-04 19:39] mayurkale22 opened #387 "Add EndSpanOptions"
Counterpart in Java: https://github.com/census-instrumentation/opencensus-java/blob/master/api/src/main/java/io/opencensus/trace/EndSpanOptions.java

A class that enables overriding the default values used when ending a ```Span```. Allows overriding the ```Status```.  The [end](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/model/types.ts#L

[2019-03-04 20:01] DazWilkin commented on #286
I should have frozen the list of dependency versions because I'm unable to repro this `0.0.8` today :-(

[2019-03-04 20:19] DazWilkin commented on #286
`0.0.9` introduces a breaking change with `globalStats`

[2019-03-04 23:02] mayurkale22 opened #388 "Add a no-op RootSpan and Span"
Currently, we return ```null``` when trace is not sampled or set to ```NeverSampler``` (_Sampler that samples no traces_). This will allow user to instrument a library without enabling sampling or using ```ProbabilitySampler``` (_Sampler that samples a given fraction of traces_).

All operations should be no-op.

[2019-03-05 20:38] mayurkale22 opened #391 "Override sampling for a span"
Specs: https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/Sampling.md#how-can-users-control-the-sampler-that-is-used-for-sampling

[2019-03-06 02:42] #388 closed

[2019-03-07 00:19] mayurkale22 commented on #286
ah I see, feel free to open this issue again. Closing for now.

[2019-03-07 00:19] #286 closed

[2019-03-07 04:15] mayurkale22 opened #399 "Make ProbabilitySampler as a default sampler"
The default sampler should be Probability sampler with the probability set to 1/10000.

https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-nodejs/src/trace/config/default-config.ts#L32

[2019-03-07 04:27] mayurkale22 opened #400 "Consider to change samplingRate to Sampler instance"
As per the [specs](https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/Sampling.md#how-can-users-control-the-sampler-that-is-used-for-sampling), consider to change current samplingRate(```number```) to ```Sampler``` instance.

https://github.com/census-instrumentation/opencensus-node/blob/f98ec08248d7e962738278473d762ab449eabe49/packages/opencensus-core/src/trace/config/ty

[2019-03-07 17:18] #262 closed

[2019-03-07 22:52] #391 closed

[2019-03-11 17:49] #385 closed

[2019-03-12 02:47] jinmel opened #413 "Opencensus propagation binaryformat is not on npm"
npm install @opencensus/propagation-binaryformat does not exist on npm

[2019-03-12 10:10] jinmel opened #415 "exporter/stackdriver not working"
[code]

----

The example code above doesn't work even with the GOOGLE_APPLICATION_CREDENTIALS env variable set. But it works with jaeger exporter

Any working sample code that uses stackdriver?

[2019-03-12 13:51] #415 closed

[2019-03-12 13:52] jinmel commented on #415
Sorry it was service account problem

[2019-03-12 15:01] jinmel opened #416 "Opencensus/instrumentation-http http.js hostname undefined"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.9

### What version of Node are you using?
v.10.13.0

### What did you do?
used instrumentation-http plugin for tracing

### What did you expect to see?

### What did you see instead?
[code]

### Additional context
Add any other context about the problem here.

[2019-03-12 17:19] mayurkale22 commented on #413
This (```@opencensus/propagation-binaryformat```) package is not yet published, it will be available with the next release (0.0.10). Milestone -> https://github.com/census-instrumentation/opencensus-node/milestone/2?closed=1. Will update you once it is available to use.

[2019-03-12 17:34] mayurkale22 commented on #416
Thanks for filling the issue, I have added a comment on your fix. PTAL

[2019-03-12 19:48] vmarchaud commented on #413
@mayurkale22 Just asking for the redis plugins, we would need to publish them first before adding them to the `instrumentation-all` package, so theoretically waiting for the version `0.0.11` ? I might have misunderstood

[2019-03-13 17:04] #416 closed

[2019-03-15 21:23] mayurkale22 commented on #387
Had a discussion with @songy23 and @rghetia regarding this. We already have [setStatus](https://github.com/census-instrumentation/opencensus-node/blob/4530fc6bcfb5c34c0de85b26a812a277ff5cbfaf/packages/opencensus-core/src/trace/model/span-base.ts#L239) method to add the status before closing the span. In Java, it was added as a helper method. Not needed here.

[2019-03-15 21:23] #387 closed

[2019-03-15 21:35] mayurkale22 commented on #248
```protobufjs``` provides its own type definitions since v6, so we don't need @types/protobufjs installed! We are already on v6 version (^6.8.8), handled in #411

[2019-03-15 21:35] #248 closed

[2019-03-18 11:06] diiiego83 opened #429 "createScopedRequired depcreated in google-auth-library 3.0.0"
### What version of OpenCensus are you using?
0.0.9

### What version of Node are you using?
8.11.3

(node:18) [google-auth-library:DEP003] DeprecationWarning: The `createScopedRequired` method on the `Compute` class has been deprecated, and will be removed in the 3.0 release of google-auth-library.

[2019-03-18 16:42] mluggy opened #430 "Can't get custom tags populated as labels in Stackdriver UI"
### What version of OpenCensus are you using?
0.0.9

### What version of Node are you using?
10.15.3

### What did you do?
Run the repl sample as-is against Stackdriver .

### What did you expect to see?
The method, status and error tags appearing as labels with their values populated, filterable and groupable on the Stackdriver UI.

### What did you see instead?
The labels were there but they wer

[2019-03-19 00:35] mayurkale22 commented on #429
Thanks for filling the issue.  This is what I found on [google-auth-library-nodejs](https://github.com/googleapis/google-auth-library-nodejs) repo.

The ```createScopedRequired``` and ```createScoped``` methods on the ```JWT``` class were largely in place to help inform clients when scopes were required in an application default credential scenario. Instead of checking if scopes are required after

[2019-03-19 00:53] mayurkale22 commented on #430
Thanks for filling the issue. I ran the shared example (_only changed the projectId_). This is what I see on stackdriver UI.

<img width="1415" alt="Screen Shot 2019-03-18 at 5 44 47 PM" src="https://user-images.githubusercontent.com/6525361/54572681-05aaf700-49a6-11e9-9c3a-24fa0ac00587.png">
<img width="1411" alt="Screen Shot 2019-03-18 at 5 45 17 PM" src="https://user-images.githubusercontent.co

[2019-03-19 08:21] mluggy commented on #430
thanks, so this has to be a problem on Stackdriver UI or a delay populating the suggestion list.

Somehow related - do you know how to populate a description for the labels? the opencensus_task seems to have it but the others don't. I tried this:

[code]

[2019-03-19 19:31] mayurkale22 commented on #430
There are some delay for populating the suggestion list. Now I see values in the list.
<img width="380" alt="Screen Shot 2019-03-19 at 12 30 07 PM" src="https://user-images.githubusercontent.com/6525361/54636065-ce3e5800-4a42-11e9-82bb-730cf29e5e81.png">

Currently [TagKey interface](https://github.com/census-instrumentation/opencensus-node/blob/7a37197f5b742e37dd327e52948fb2ef03fe3673/packages/op

[2019-03-19 19:32] #296 closed

[2019-03-20 08:34] #430 closed

[2019-03-20 16:02] seanprince opened #434 "A StackDriverStatsExporter with a metric prefix does not export stats"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.9

### What version of Node are you using?
10.15.1

### What did you do?
I registered a Stackdriver exporter with a metric prefix like this:
[code]

### What did you expect to see?

Statistics being exported to Stackdriver.

### What did you see instead?

No data appearing in Stackdrive

[2019-03-20 19:22] mayurkale22 commented on #434
Make sure to add a custom prefix with **registered  domain** ie. `prefix: 'custom.googleapis.com/my-prefix'` or `prefix: 'external.googleapis.com/my-prefix'`

[code]

[2019-03-20 19:24] mayurkale22 commented on #434
This is introduced in 0.0.5 release -> https://github.com/census-instrumentation/opencensus-node/blob/master/CHANGELOG.md#005---2018-10-19 (**Allow users to report metrics for their registered domain (using custom prefix). This could be a breaking change if you have custom prefix without (registered) domain.**)

[2019-03-21 01:02] #340 closed

[2019-03-21 01:29] #326 closed

[2019-03-25 11:43] hollandben opened #442 "400 bad request when exporting traces to Stackdriver"
I'm seeing the following error when sending the trace information to `https://cloudtrace.googleapis.com` using the `'@opencensus/exporter-stackdriver' package:

[code]

From the [Google Documentation for cloud tracing](https://cloud.google.com/trace/docs/reference/v2/rest/v2/TimeEvents#messageevent), the type for the a `MessageEvent` should be a `string (int64 format)` whereas the id that is set i

[2019-03-25 21:14] mayurkale22 commented on #442
Thanks for the filling issue. I am looking into it.

Can you please answer below questions?

- What version of OpenCensus are you using?
- What version of Node are you using?
- If possible, provide a recipe for reproducing the error

[2019-03-25 21:19] hollandben commented on #442
Hi @mayurkale22. Thanks for the speedy response. In answer to your questions:

**What version of OpenCensus are you using?**
`0.0.9`

**What version of Node are you using?**
`10.15.3`

**If possible, provide a recipe for reproducing the error**
I'll try and get something together today/tomorrow

[2019-03-26 11:02] hollandben commented on #442
I've created [an example repo](https://github.com/hollandben/opencensus-stackdriver-exporter-error) with steps to reproduce the error. Let me know if there's anything else you need.

[2019-03-26 17:46] mayurkale22 commented on #442
@HailongWen thanks for the detailed information. I managed to reproduce the issue, looks like this is caused because of https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-instrumentation-http/src/http.ts#L413-L414. We are assigning hexadecimal value to the message id, which is not acceptable by stackdriver backend. I think we should use `number` type for id f

[2019-03-26 17:48] hollandben commented on #442
Great - thanks for the quick response @mayurkale22.

[2019-03-26 21:40] kenashcraft opened #447 "Finish port to ts-mocha"
#444 ported most of the packages to use ts-mocha in order to get good Typescript stack traces in tests.  There were a few packages not covered by that PR that need to be ported still:

- opencensus-nodejs: has tests that expect .js files/syntax
- opencensus-instrumentation-redis: I couldn't figure out what was going wrong
- opencensus-exporter-ocagent: Depends on the compilation step to copy files

[2019-03-26 22:07] mayurkale22 commented on #434
Closing this issue now, please refer to my previous comment for a justification.

[2019-03-26 22:07] #434 closed

[2019-03-27 17:38] #325 closed

[2019-03-27 23:16] mayurkale22 opened #450 "Metrics: Add Cumulative APIs"
Specs tracking issue: census-instrumentation/opencensus-specs#241.

[2019-03-29 18:31] mayurkale22 opened #454 "Refactor resource util to match specs"
Specs: census-instrumentation/opencensus-specs#235

[2019-03-29 22:38] songy23 opened #455 "Regenerate ocagent proto files."
Similar to https://github.com/census-instrumentation/opencensus-python/pull/589.

We need to manually update the proto-gen files in this repo for ocagent exporter to work, until https://github.com/census-instrumentation/opencensus-node/issues/129 is resolved.

[2019-03-29 22:39] songy23 commented on #455
Protos are currently at https://github.com/census-instrumentation/opencensus-node/tree/master/packages/opencensus-exporter-ocagent/src/protos/opencensus/proto.

[2019-03-30 00:19] #455 closed

[2019-03-31 19:12] #348 closed

[2019-04-01 20:47] mayurkale22 opened #459 "Add gauge example"
Add gauge example, just like one in [java](https://github.com/census-instrumentation/opencensus-java/tree/master/examples/src/main/java/io/opencensus/examples/gauges).

[2019-04-02 17:08] hekike opened #462 "Separate CLS from Tracer and make it optional"
**Is your feature request related to a problem? Please describe.**

Continues local storage has an overhead which maybe makes sense in applications where the developer doesn't control the instrumentation and it should happen automatically but is unnecessary in services with explicit instrumentation.

Read more about common issues with CLS in https://github.com/othiym23/node-continuation-local-stor

[2019-04-02 23:58] #459 closed

[2019-04-03 00:11] mayurkale22 opened #463 "Derived Gauge: Add support for function based extractor"
The `createTimeSeries ` method should allow users to pass (anonymous) function, that it calls to calculate or extract the gauge value whenever metrics are collected.

[2019-04-03 05:22] #442 closed

[2019-04-04 07:47] jinmel commented on #413
so is this getting published soon?

[2019-04-04 11:43] jinmel commented on #429
any plans on closing this issue? :)
I am waiting for its release

[2019-04-04 17:31] mayurkale22 commented on #413
I have published the package yesterday. PTAL -> https://www.npmjs.com/package/@opencensus/propagation-binaryformat. Closing the issue now.

[2019-04-04 17:31] #413 closed

[2019-04-04 21:49] jindal93 opened #472 "Convert Opencensus Span links to Thrift Span references"
The Opencensus Span links are not getting converted to Thrift Span references.

[2019-04-04 21:54] mayurkale22 commented on #462
Thanks for filling the issue, feel free to shoot the PR.

[2019-04-04 22:04] mayurkale22 commented on #472
Thanks for the filling issue. Looks like currently we just put empty list for the `references `. https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-jaeger/src/jaeger-driver/index.ts#L142

[2019-04-05 03:47] #429 closed

[2019-04-05 06:49] jinmel opened #474 "Wrong translation to stackdriver span"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?

0.0.10

### What version of Node are you using?

10.15

### What did you do?

ran examples in //examples/http/ with StackdriverTraceExporter instead of ZipkinTraceExporter

### What did you expect to see?

A span in stackdriver console

### What did you see instead?

nothing

### Additiona

[2019-04-05 06:51] jinmel commented on #474
I only see span for
GET /latest/dynamic/instance-identity/document

[2019-04-05 10:04] jinmel commented on #474
atchWriteSpans error: Invalid JSON payload received. Unknown name "uncompressed_size" at 'spans[0].time_events.time_event[0].message_event': Cannot find field.
Invalid JSON payload received. Unknown name "compressed_size" at 'spans[0].time_events.time_event[0].message_event': Cannot find field.

[2019-04-05 11:13] jinmel commented on #474
https://github.com/googleapis/googleapis/blob/327ff9c09f4b2bcc9633f035a58ad348e45fb2a0/google/devtools/cloudtrace/v2/trace.proto#L97

[2019-04-05 17:12] mayurkale22 commented on #474
Closed in #475

[2019-04-05 17:12] #474 closed

[2019-04-05 19:24] viktree opened #476 "Not able to to export https-instrumented child-spans"
### What version of OpenCensus are you using?

[code]

### What version of Node are you using?
[code]

### What did you do?

I wrote some code to send traces for every http(s) request to Stackdriver Tracing.

[code]

I also have the following variables that are set:
[code]

### What did you expect to see?

I expected all traces to be written to stackdriver successfully.

### What did you see inste

[2019-04-08 07:07] mayurkale22 commented on #476
This issue has been fixed in the latest release, can you please use `0.0.10` version. Please let us know the outcome.

[2019-04-08 13:13] viktree commented on #476
Hmm, so I updated the dependencies:

[code]

And I now get a slightly different error message in its place:
[code]

[2019-04-08 14:12] mayurkale22 commented on #476
Yikes! This is related to https://github.com/census-instrumentation/opencensus-node/pull/475, I planned to cut a new release soon.

[2019-04-08 14:30] #472 closed

[2019-04-09 03:23] mayurkale22 commented on #476
The new version is available, can you please try again with the latest release (`0.0.10`).

[2019-04-09 09:50] vmarchaud opened #481 "http-instrumentation: propagation error when using Expect header"
`google-trace-nodejs` had the same issue before: https://github.com/googleapis/cloud-trace-nodejs/pull/766

I will make a PR later today to fix that

[2019-04-09 15:28] viktree commented on #476
Yeah, version `0.0.11` seems like it fixed it! Thanks for the help

[2019-04-09 15:28] #476 closed

[2019-04-11 12:11] mayurkale22 commented on #481
Addressed in #482

[2019-04-11 12:11] #481 closed

[2019-04-12 01:42] #463 closed

[2019-04-16 05:14] jinmel opened #486 "http instrumentation cannot handle incoming requests with long request url path (>255)"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?

0.0.11

### What version of Node are you using?

10

### What did you do?
If possible, provide a recipe for reproducing the error.

applied http instrumentation

### What did you expect to see?

### What did you see instead?

Error: Invalid TagValue: /v1/auth/oauth/google/callback?state=ht

[2019-04-23 23:21] mhdawson opened #490 "Support Custom attributes in instrumentation"
**Is your feature request related to a problem? Please describe.**
We need to be able to add additional attributes beyond those which are already added when
using the automatic instrumentation (for example instrumentation-http).  More specifically
we need to be able to have access to the request/response objects so that we can extract additional information.

I talked to @kjin and from that discus

[2019-04-24 08:25] vmarchaud commented on #490
I believe it could be cleaner to use the `options` of the plugin to support this use case, here is a quick example :

[opencensus-instrumentation-http/src/types.ts](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-instrumentation-http/src/types.ts#L22)
[code]

And in [opencensus-instrumentation-http/src/http.ts#L423](https://github.com/census-instrumentatio

[2019-04-24 10:01] sanha opened #491 "Propagate b3 parent span id info automatically"
**Is your feature request related to a problem? Please describe.**

I'd like to use [Istio](https://istio.io/) with OpenCensus Node.
I made a few test with [Istio101 example](https://github.com/thesandlord/Istio101) and Jaeger, and figured out that:
- OpenCensus works well with Istio if I use `propagation-b3` and `exporter-jaeger` packages
![image](https://user-images.githubusercontent.com/8844176

[2019-04-24 15:59] mhdawson commented on #490
That sounds reasonable to me,

I think at least the response type id different between the 2 places we'd want to add attributes.  Do you think we should use a union type so that we can have a single function or have  2 functions that can be set in the options?

Based on what you think is best I can put together an initial PR.

[2019-04-24 20:08] vmarchaud commented on #490
Not really sure on this one. Sadly @mayurkale22 is not available currently (i believe he's coming back the May 4th. Maybe @draffensperger have a take on this issue ?

I also want to mention that we may need this feature on all instrumentation package, maybe it would be easier to add it as a default options in the `BasePlugin` class ?

[2019-04-24 20:21] mhdawson commented on #490
I agree that it would be applicable to multiple instrumentation packages although the signature would likely have to be different for each one.  I was thinking we should start with at least http and https.

[2019-04-24 20:23] draffensperger commented on #490
I like the approach of passing in the function in the custom options for the plugin, and yes, I agree the signatures will need to differ per-plugin.

@mhdawson thanks for your willingness to take initiative on a PR. I would be happy to review it so we can get the process rolling, but we would need to wait for @mayurkale22 to get back to do the final merge.

[2019-04-24 20:37] mhdawson commented on #490
I'm actually away starting Friday for a week anyway so I think he'll be long back by the time I get something together anyway.

If the signatures are going to be different does it still make sense to try to add it in the BasePlugin or add to each of the plugins individually?

[2019-04-24 21:21] draffensperger commented on #490
My intuition would be to add it as an optional field to `BasePlugin` with a generic `Function` type and then had it take more specific type (with the specified args and their types) for the specific plugins.

[2019-04-29 05:24] sanha commented on #491
Oh, I figured out that this issue occurs because OpenCensus creates a new span for each request and information about the span cannot be propagated with other outbound requests.
If I'm right, it would be good to implement a new exporter for Istio mixer instead. I'll close this.

[2019-04-29 05:24] #491 closed

[2019-05-06 17:57] hekike opened #501 "Refactor gRPC instrumentation tests to make them independent from record order"
**Is your feature request related to a problem? Please describe.**
No, it's a testing ergonomic issue

**Describe the solution you'd like**
gRPC instrumentation tests depend on record order which makes testing challenging.

**Describe alternatives you've considered**
I'd suggest ordering spans before asserting on them.

[2019-05-06 20:50] tstirrat15 commented on #301
This was closed by #302.

[2019-05-06 20:50] #301 closed

[2019-05-08 16:54] mayurkale22 opened #506 "Update gts to v1 and Fix code formatting"
**GTS v1 release contains breaking changes. Picking up this update most likely will cause a breaking change in our project. Need to take care when picking up this update**

### Breaking Changes

-   GTS switched to [prettier](https://prettier.io) as the code formatting tool ([#&#8203;259](https://togithub.com/google/gts/issues/259)). `gts run fix` should migrate your code over to the new style 💅.

[2019-05-08 16:58] mayurkale22 opened #507 "Migrate to TravisCI"
OpenTelemetry is also going to use TravisCI.

Proposal (Infrastructure requirements): https://github.com/cncf/toc/blob/master/proposals/opentelemetry.adoc

[2019-05-09 17:24] mayurkale22 commented on #486
This is happening because of https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/tags/validation.ts#L32-L38. We have enforced 255 MAX_LENGTH limit on `TagKey` and `TagValue`.

**What did you expect to see in this case?**
- a) Silently ignore the invalid tag(s) or
- b) log a warning or error.

[2019-05-09 17:32] vmarchaud commented on #486
A possible alternative would be to truncate the tag value ?

[2019-05-09 18:23] mayurkale22 opened #511 "Chore: remove node 6 ci job"
**Node.js 6.x**, which has been maintained as a long-term stable (LTS) release line since fall of 2016, is reached its scheduled end-of-life (EOL) on April 30, 2019.

![image](https://user-images.githubusercontent.com/6525361/57477085-c46bf080-724c-11e9-86c0-17526619f40d.png)

With this, upgrade engines field to >=8.10.0.

[2019-05-09 18:33] mayurkale22 opened #512 "Metrics/Utils: Consider to use unknown type instead of any"
Consider to use `unknown` type instead of `any` for Metrics Utils functions.

Fact: `unknown` acts like a type-safe version of `any` by requiring us to perform some type of checking before we can use the value of the `unknown` element or `any` of its properties.

Dependency on #279 (`unknown` type is available since TypeScript 3.0).

[2019-05-10 02:23] jinmel commented on #486
@vmarchaud I agree to this solution.

[2019-05-10 17:18] mayurkale22 commented on #486
SGTM, Please review #515

[2019-05-10 21:49] #486 closed

[2019-05-10 21:50] #450 closed

[2019-05-10 22:00] mayurkale22 commented on #304
Closing as we agreed to use OC Service.

[2019-05-10 22:00] #304 closed

[2019-05-14 17:03] mayurkale22 commented on #506
This will also fix 2 vulnerabilities (1 moderate, 1 high) in all OC packages.

[code]

[2019-05-14 17:17] mayurkale22 commented on #511
@draffensperger and @hekike What do you think about this?

[2019-05-14 17:23] hekike commented on #511
Absolutely, I'm wondering if at the same time we can fine tune TypeScript builds to use more native features.  But maybe it's a less significant release in terms of ES features in V8: https://v8.dev/blog/v8-release-60

[2019-05-14 18:02] draffensperger commented on #511
Yes, I think removing support for Node 6 makes sense given it has reached end of life.

[2019-05-14 21:51] #511 closed

[2019-05-15 09:48] drubin opened #526 "Upgrading to 0.0.12 breaks exporter-zipkin causes application to crash"
### What version of OpenCensus are you using?
0.0.12

### What version of Node are you using?
v10.15.3

### What did you do?
Running the following code breaks with 0.0.12 but works with 0.0.11.

In order to trigger the crash, you need to  generate some spans and wait < 1 minute it should cause a crash

[code]
After some time I get the following

[code]

My package.json

[code]

### What did you ex

[2019-05-15 17:22] mayurkale22 commented on #526
@drubin thanks for filling the issue, I am looking into it.

[2019-05-15 18:33] crdgonzalezca opened #527 "Avoid import CLS in @opencensus/core /stats/types.ts file to make it more general."
**Problem Description:**
In @opencensus/web-types we are trying to sync to your current @opencensus/core types files. However, we found you were importing `cls` in the stats types file. This is done in [c5a7d07c](https://github.com/census-instrumentation/opencensus-node/commit/c5a7d07c03ba32040784c3fd8b638e739be0038f#diff-3f8af03ea7f8295217dd1ec432ceda36)

You add this line ```import * as cls from

[2019-05-15 19:53] drubin commented on #526
Let me know if i can help in any way. Still new to this but I can try help

[2019-05-15 20:13] mayurkale22 commented on #526
I think I found the issue, just checking why it's working in Jaeger case. I will update thread shortly.

[2019-05-16 16:09] jdbennet2001 opened #529 "Upgrading to 0.0.12 results in infinite loop with chai tests"
I have a test case that uses `chai-http` to spin up a simple server and register a new exporter.

The code worked correctly with OpenCensus 0.0.11, but fails with a stack overflow with OpenCensus 0.0.12.

[code]

I think the problem is here:
https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/model/no-record/no-record-span.ts#L89

[code]

I beli

[2019-05-16 17:46] mayurkale22 commented on #527
Closed in #528

[2019-05-16 17:46] #527 closed

[2019-05-16 17:50] mayurkale22 commented on #529
@jdbennet2001 Thanks for filling the issue. I have opened the PR (#530), please review it.

[2019-05-16 18:15] jdbennet2001 commented on #529
Thank you for the quick work. Do you know how long it will take until there is a 0.0.13 release with this fix?

[2019-05-16 18:20] mayurkale22 commented on #529
I have another issue (https://github.com/census-instrumentation/opencensus-node/issues/526) to fix, will cut a release after that. Either tomorrow or Monday for sure.

[2019-05-16 22:23] mayurkale22 commented on #526
@drubin  The "**Socket hang up**" error in Zipkin exporter's http request caused by infinite loop while getting `SpanContext` (get traceState()). I have fixed the issue in #530, these changes have all been tested locally against a real local zipkin instance and been confirmed to be working.

We planned to cut a release(0.0.13) soon with the fix.

[2019-05-16 22:30] #529 closed

[2019-05-16 23:00] mayurkale22 commented on #462
@hekike  Can we close this one via #484?

[2019-05-17 09:57] jinmel opened #534 "currentRootSpan != root on notifyStart"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?

0.0.12

### What version of Node are you using?

10

### What did you do?
If possible, provide a recipe for reproducing the error.

just run examples/grpc server and client with logLevel: 'debug' on tracer

### What did you expect to see?

### What did you see instead?

 [debug] "2019-05-1

[2019-05-17 13:50] drubin commented on #526
@mayurkale22 awesome let me know and I will gladly give it a go.

[2019-05-17 16:40] mayurkale22 commented on #534
Thanks for filling the issue. This issue has been addressed in https://github.com/census-instrumentation/opencensus-node/pull/532, PTAL.

[2019-05-17 20:43] hekike commented on #462
Yes, thank you!

[2019-05-17 20:43] #462 closed

[2019-05-17 23:23] #490 closed

[2019-05-18 00:41] jinmel commented on #534
Wow that was fast. I was going to fix it myself during weekends but thanks anyway :)

[2019-05-18 00:42] #534 closed

[2019-05-18 00:46] jinmel commented on #526
@mayurkale22 FYI, I saw this error for stackdriver exporter. I'll take a look myself if it is related.

[2019-05-19 19:19] mayurkale22 commented on #526
@jinmel Thanks for the help, I have tested the changes (#530) locally against a real stackdriver trace exporter and been confirmed to be working. Please let me know if you find anything weird.

[2019-05-20 05:51] yamadayuki opened #537 "Exporter/Stackdriver: Provide other way to set credential instead of ADC"
**Is your feature request related to a problem? Please describe.**

The `@opencensus/exporter-stackdriver` requires the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to send the metrics to Stackdriver using ADC. I don’t want to use `GOOGLE_APPLICATION_CREDENTIALS` environment variable to set the credentials. I’d like to set the google auth client from `google-auth-library` or pass the cred

[2019-05-20 16:39] mayurkale22 commented on #537
Thanks for the request! Feel free to contribute :)

[2019-05-20 18:08] mayurkale22 commented on #526
@drubin FYI -> https://github.com/census-instrumentation/opencensus-node/pull/539

[2019-05-20 20:24] mayurkale22 commented on #526
The fix the available with the new release (`0.0.13`), I have verified the changes with given example and been confirmed to be working. Closing this issue now, let us know if you encounter any issues!

[2019-05-20 20:24] #526 closed

[2019-05-20 20:39] mayurkale22 commented on #501
@hekike Thanks for reporting this, PR welcome ☺️

[2019-05-20 22:16] #365 closed

[2019-05-21 01:33] yamadayuki commented on #537
Thanks! I'll send the PR this week 👍

[2019-05-21 14:18] jdbennet2001 opened #542 "HTTPS plugin results in duplicate spans"
### What version of OpenCensus are you using?
I have pulled the the 0.0.13 copy of OpenCensus.

### What version of Node are you using?
Node v8.12.0 (Mac)

### What did you do?
I have written a simple Express app, and added OpenCensus

[code]

When I invoke it, and write some code to dump the generated span data I see:
Three spans being generated.

### What did you expect to see?

Removing the HTT

[2019-05-21 20:51] mayurkale22 commented on #542
@jdbennet2001 Thanks for reporting the issue! I am looking into it.

[2019-05-21 22:04] mayurkale22 commented on #542
Earlier we used to notify only the end of `RootSpan` to the exporter (using `listener.onEndSpan`) and exporter was responsible for transforming `RootSpan` and all its descendants/children to the respective format. But after the consolidation of Span and RootSpan, every span end gets notified to the exporter.

Consider below scenario:
[code]
Exporters will report:
1. RootSpan {id: aaa} and its chil

[2019-05-21 22:16] mayurkale22 commented on #542
OR We should add existing check in zipkin exporter?
[code]

[2019-05-22 10:18] hekike commented on #542
I think we should notify all the exporters about all the spans and leave it to exporters which one to handle and when to push to buffer.

I think the scenarios today pretty much boil down to the following options:

1. Exporter puts all the spans to the buffer when they receive (record all spans immediately)
2. Exporter waits for root span and skips on all the child spans. When root received it wal

[2019-05-22 13:12] jdbennet2001 commented on #542
Is the above discussion about the issue or over all architectural direction?

I am fine with writing an exporter that handles child spans (I'm working on one for MQ), it just seems strange that two entirely different spans are generated for HTTPS requests. Am I missing something?

[2019-05-22 14:35] hekike commented on #542
@jdbennet2001 maybe I'm missing some context here. Do you see in the HTTP instrumentation plugin internals that it created two spans or do you see them in your exporter reported twice or on your backend duplicated? If it's the exporter/backend, which one do you use?

[2019-05-22 16:11] jdbennet2001 commented on #542
It's a little tricky to see. The example code is:

[code]

Just two calls. But the instrumentation generates two _different_ spans for the /todos/1 call:

![image](https://user-images.githubusercontent.com/4204536/58190496-a198fd80-7c8a-11e9-8f9d-9ea087e542f7.png)

That seems wrong, or am I missing something?

[2019-05-22 16:39] mayurkale22 commented on #542
I think I found the root cause, as @hekike mentioned, we notify all the spans to exporters and it decides which one to handle. In **Jaeger** and **OCAgent** exporter we are skipping non root spans and allow the internal method to extract child spans from root. While in **Zipkin**, **Stackdriver** and **Console** exporters, we have both the logic in place. i.e. Writing all the spans on buffer and e

[2019-05-22 18:21] #537 closed

[2019-05-22 19:46] hekike commented on #542
@mayurkale22 oops, my bad. I thought I sorted out to have only one of the twos.
I'm fine either way. I'm not sure this whole root only logic worth the complexity but I agree let's fix it simple now and improve it in OpenTelemetry.

[2019-05-22 20:34] mayurkale22 commented on #542
I managed to repro-d the problem and the see duplicate child spans in trace output. But unlike @jdbennet2001 I could see the two child spans with same id (spanId). I am almost done with the fix, will open PR soon.

Zipkin traces with two same duplicate child spans (**"id": "6f9cf4ae14051b39"**).
[code]

Stackdriver traces with two same duplicate child spans (**"spanId": "5dcbcdf118059fff"**).
[cod

[2019-05-23 07:16] yamadayuki opened #546 "Trace Context Propagation with HTTP instrumentation produce the invalid RootSpan"
### What version of OpenCensus are you using?

I use the OpenCensus libraries which versions are 0.0.13.

- `@opencensus/core@0.0.13`
- `@opencensus/exporter-stackdriver@0.0.13`
- `@opencensus/instrumentation-http@0.0.13`
- `@opencensus/nodejs@0.0.13`
- `@opencensus/propagation-tracecontext@0.0.13`

### What version of Node are you using?

Node v10.15.3 (on macOS Mojave 10.14.4)

[code]

### What

[2019-05-23 08:02] yamadayuki commented on #546
I investigated this problem, I supposed that I found the cause of this problem.

In `http.ts`, the `spanContext` from `propagation.extract` is weird when I use the Trace Context Propagation.
[code]

Output is below:

[code]

But the `spanContext` with B3 Propagation is correct.

[code]

I think this problem occurs only at the beginning of the tracing (under the context with no TraceParent).

[2019-05-23 17:25] mayurkale22 commented on #546
@yamadayuki Thanks for reporting this! I am looking into it.

[2019-05-23 18:51] mayurkale22 commented on #546
I think, the `extract` method should [return `null`](https://github.com/census-instrumentation/opencensus-node/blob/3111ab8c29b5d60e68a762c439ef909e3af9589b/packages/opencensus-core/src/trace/propagation/types.ts#L37) if there is no incoming `traceID`/`spanID`, rather than fill `SpanContext` object [with empty strings](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/

[2019-05-23 20:57] jdbennet2001 opened #548 "span.kind set to SERVER for custom span"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.13

### What version of Node are you using?
8.1.2

### What did you do?
If possible, provide a recipe for reproducing the error.
Generate a custom span using:
[code]

the exported the data to Zipkin.

### What did you expect to see?
The span's kind field was set to 'SERVER' instead of '

[2019-05-23 21:34] mayurkale22 commented on #548
AFAIK, Zipkin's span kind accepts either `CLIENT|SERVER|PRODUCER|CONSUMER` string value. I am not sure about the behavior when we pass empty string or 'OTHER' value. Any idea?

[2019-05-23 21:35] #542 closed

[2019-05-24 04:55] yamadayuki commented on #546
Thanks for triage! I agree with your comment https://github.com/census-instrumentation/opencensus-node/issues/546#issuecomment-495340712. I'm looking forward to the next release.

[2019-05-28 18:12] #546 closed

[2019-05-28 20:55] #454 closed

[2019-05-28 20:59] mayurkale22 commented on #548
@jdbennet2001 any idea?

[2019-05-30 19:07] jdbennet2001 commented on #548
I honestly don't have a good answer for this one.

[2019-05-30 19:30] mayurkale22 commented on #548
Ok, np. I will check with other language folks and update this thread.

[2019-05-30 20:30] jdbennet2001 opened #566 "Regression: Trace id not correctly propagated between calls."
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.13

### What version of Node are you using?
8.112.0 (Mac)

### What did you do?
I have a node micro-service that is instrumented using Open Census.

I have legacy code that invokes the service using:

[code]

### What did you expect to see?
The trace id header should be present in the g

[2019-05-30 20:51] jdbennet2001 commented on #566
Update. When I use `propagation.B3Format();` and set both traceid and spanid headers, then the trace id information is preserved but the generated span is not a 'root' span, which results in issues when I'm trying to maintain the parent / child relationship.

What am I doing wrong here?

[2019-05-30 21:09] mayurkale22 commented on #566
Please use `x-b3-spanid` instead of `x-b3-parentspanid` while passing the headers. There is no really meaning of `x-b3-parentspanid` header.

I tried locally and it is working for me.

[code]

[code]

[2019-05-30 22:00] jdbennet2001 commented on #566
I've been doing some more digging. If the trace and span ids are passed in, then they are recorded in the request record. However, there is no root span.

So: tracer.currentRootSpan is undefined.

[2019-05-30 22:15] jdbennet2001 commented on #566
Okay, found it.

The incoming request generates a new span, but when the span is started at:
https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/src/trace/model/span.ts#L313

which is:
[code]
which prevents the root span from being set as the correct span, and propagating all information.

[2019-05-31 13:53] jdbennet2001 commented on #566
Here's a better example, that I'm digging into:

[code]

[code]
Which produces:

[code]

[2019-05-31 14:56] jdbennet2001 commented on #566
Redoing my example:

curl:
[code]

code:
[code]

Results: OpenCensus 0.0.13:
[code]

Note that there are _two_ trace id values.

Sample output: OpenCensus 0.0.11
[code]

Now there is, correctly, _one_ traceid.

[2019-05-31 14:56] jdbennet2001 commented on #566
@mayurkale22 Does help explain the issue better?

[2019-05-31 19:31] mayurkale22 commented on #566
@jdbennet2001 thanks for the sharing the example. I will give it a try today. Meantime, if you find the root cause or know the fix. Please feel free to open the PR.

[2019-06-01 05:22] mayurkale22 commented on #566
@jdbennet2001 I managed to repro-d the issue, please review #570 for the fix.

Results after the fix:
[code]

[2019-06-01 22:34] jdbennet2001 commented on #566
Thanks! I think the fix look good. Please let me know when there will be a 0.0.14 release so I can try it in our test system.

[2019-06-03 19:13] mayurkale22 commented on #548
As per my testing, anything other than `CLIENT|SERVER|PRODUCER|CONSUMER` is not acceptable by the zipkin api.

1. With `"kind": "OTHER"`, I saw "_Cannot decode spans_" error (HTTP/1.1 400 Bad Request).
2. When I skip the `kind` field from input payload, looks like zipkin api ignores the request.

curl command:
[code]

data.json:
[code]

[2019-06-04 18:27] mayurkale22 commented on #566
Closing the issue based on https://github.com/census-instrumentation/opencensus-node/pull/571#issuecomment-498762677.

[2019-06-04 18:27] #566 closed

[2019-06-04 18:35] mayurkale22 commented on #546
@yamadayuki The new release is available (0.0.14) with this fix.

[2019-06-07 18:00] #506 closed

[2019-06-07 19:02] odeke-em opened #575 "all: some license headers have gRPC:// instead of https:// linking to the License"
Just noticed while examining the examples:

https://github.com/census-instrumentation/opencensus-node/blob/ef5712fd3b279b0e80494322231232047b06f9e6/examples/http/client.js#L8

https://github.com/census-instrumentation/opencensus-node/blob/master/examples/http/server.js#L8

https://github.com/census-instrumentation/opencensus-node/blob/ef5712fd3b279b0e80494322231232047b06f9e6/examples/grpc/capitali

[2019-06-07 19:13] mayurkale22 commented on #575
@odeke-em Thanks for reporting this!, Here is the fix https://github.com/census-instrumentation/opencensus-node/pull/576

[2019-06-07 19:38] #575 closed

[2019-06-11 18:09] mayurkale22 commented on #548
@jdbennet2001 Did you get a chance to see my above comment?

[2019-06-11 18:34] jdbennet2001 commented on #548
I'm sorry, I didn't realize you were asking for feedback. I read the comment as "This is a limitation of the design, and entirely reasonable" which I'm good with. I'll close the issue.

[2019-06-11 18:34] #548 closed

[2019-06-13 22:54] odeke-em opened #580 "examples: provide an example for how to retrieve spans from thread local storage"
I understand that we use 'cls' for context storage/thread local storage. However, it is a little painful for me right now to try to get spans from thread local storage, that is because there are many moving parts: I need to initialize the tracer or get the global tracer (will creating a new tracer work?) and then check the current context but then check if the contextManager has a rootSpan. Also g

[2019-06-13 23:35] mayurkale22 commented on #580
Let me know if this works for you.
[code]
Output:
[code]

[2019-06-14 21:37] odeke-em commented on #580
Hello @mayurkale22, thank you for the response!

The example you provided works for that example because we provide a tracer and start it in process. My use case is for a third party instrumentation that doesn't even know which tracer was used so `tracing.start().tracer` won't be possible or might use the wrong tracer and we also want the current span not necessarily the root span, since the calls

[2019-06-19 17:12] jdbennet2001 opened #581 "Outgoing HTTP requests not logged for Node 10"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.14

### What version of Node are you using?
v10.15.3

### What did you do?
Invoke a minimal node / express as:
[code]

[code]

### What did you expect to see?
One SERVER and one CLIENT span

### What did you see instead?
One SERVER span only:
[code]

### Additional context
I've pushed t

[2019-06-19 17:14] jdbennet2001 commented on #581
Invoking the same code with node eight yields:
[code]

which is correct.

[2019-06-19 22:49] mayurkale22 commented on #581
Thanks for reporting this! Will update you shortly with the findings.

[2019-06-20 15:27] mayurkale22 commented on #581
As per my observation, only `@opencensus/instrumentation-http` plugin is loaded for automatic tracing. But shared example, contains `https` [request](https://jsonplaceholder.typicode.com/todos/1), so tracer will not capture this request due to missing `@opencensus/instrumentation-https` plugin. Once I changed to `http` [request](https://jsonplaceholder.typicode.com/todos/1), everything is working

[2019-06-20 19:55] nkolban opened #582 "Generated Nodejs documentation for usage"
The Node.js packages exposes APIs for programmers to code against.  Unfortunately, there is no generated documentation for using this package.  This issue asks for the generation of the documentation from the source and hosting it (somewhere) for URL access.

@mayurkale22 Suggested that this be raised as an open issue to address.

[2019-06-21 16:35] jdbennet2001 commented on #581
Thanks for the investigation. I'll close this while I verify and optimize my workflow.

[2019-06-21 16:35] #581 closed

[2019-06-30 22:18] naseemkullah opened #584 "Support automatic instrumentation for MySQL"
Please see title, thanks!

[2019-07-04 22:12] naseemkullah opened #610 "Autotracer HTTP: ignore health checks"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in other the OpenCensus libraries in other languages. If so, please [open an issue on opencensus-specs](https://github.com/census-instrumentation/opencensus-specs/issues/new) first.

**Is your feature request related to a problem? Please describe.**
I am using the autotracer and its

[2019-07-04 22:15] naseemkullah commented on #610
According to https://github.com/census-instrumentation/opencensus-specs/blob/33674c81be4996b19d31f22b7529e724dbae2113/trace/HTTP.md#sampling if I were to "Pass a specific Sampler as an option to the HTTP plugin" that would allow "Filtering out certain paths (e.g. health endpoints) to disable tracing"

Is this possible with the autotracer??

[2019-07-13 17:19] drubin opened #630 "Exporter Ocagent not propagating serviceName"
Sorry if this is the wrong place to report this. I might also be using this incorrectly I couldn't find much documentation on how to use this with opencensus agent/collector.
### What version of OpenCensus are you using?

    "@opencensus/exporter-ocagent": "0.0.15",
    "@opencensus/nodejs": "0.0.15",

Docker version omnition/opencensus-collector:0.1.9

### What version of Node are you using?
v10

[2019-07-14 14:57] drubin commented on #630
Seems this is actually an issue in the agent/collector.

https://github.com/census-instrumentation/opencensus-service/issues/568
https://github.com/census-instrumentation/opencensus-service/issues/551#issuecomment-493143844

Just sharing this the links for future reference.

[2019-07-14 14:57] #630 closed

[2019-07-15 15:42] thekemkid opened #631 "Please add an example of trace propagation."
I've been trying to figure out how to do trace propagation between micro-services and have been unable to figure out the api. An example will solve this for me. The example would ideally contain two running services, one to create a root span, ping the other service and propagate trace headers through the request, and for the child span to pick up the remote parent. I'd also like to see the abilit

[2019-07-25 07:01] mluggy opened #634 "Support specifying batch limit"
On high-velocity metrics, you get:
```UnhandledPromiseRejectionWarning: Error: Field timeSeries had an invalid value: A maximum of 200 TimeSeries can be written in a single request.```

Apparently Stackdriver backend has the limit that each request cannot batch more than 200 time series so exporter needs to do some processing. For example https://github.com/census-instrumentation/opencensus-java/b

[2019-08-07 05:14] StoneDot opened #637 "[Question] http, http2 instruments add RECEIVED MessageEvent at the end of response"
I'd thought MessageEvent (`MessageEventType.RECEIVED`) is added at the start of a span. But current implementation of http and http2 instruments add the MessageEvent at the end of a span.
I feel it is curious behavior because the whole request has already received when `request` event is emitted.

Is this intended behavior?

* OpenCensus version: 0.0.16
* Node.js version: v11.11.0

[2019-08-13 09:56] pfyod commented on #610
You can configure tracing plugins to ignore certain paths. E.g.
[code]

[2019-08-13 12:37] naseemkullah commented on #610
THANK YOU @pfyod !

[2019-08-13 12:37] #610 closed

[2019-08-20 20:19] danwbyrne opened #639 "Opencensus-core memory leak"
Please answer these questions before submitting a bug report.

### Opencensus Version
v0.0.16

### Node Version
v11.13.0

### What did you do?
Here is a minimal repo which outlines the issue: https://github.com/danwbyrne/opencensus-leak

### What did you expect to see?
All tests pass without triggering the memory leak warning.

### What did you see instead?
tests trigger the memory leak warning.

[2019-08-21 15:26] mayurkale22 commented on #584
Hi @naseemkullah! We are in the process of converging this code-base with the [OpenTelemetry project](https://github.com/open-telemetry/opentelemetry-js). Feel free to open issue there, also if you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2019-08-21 15:27] mayurkale22 commented on #584
I'm going to close this issue. Feel free to reopen if you have other opinion.

[2019-08-21 15:27] #584 closed

[2019-08-21 18:21] naseemkullah commented on #584
Looking forward to OpenTelemetry!

[2019-08-22 07:12] StoneDot opened #641 "Multiple http2.connect call cause disappearing of the root span"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
v0.0.16

### What version of Node are you using?
v11.11.0

### What did you do?
A following code reproduces the error.

[code]

### What did you expect to see?
[code]

Also, it contains another bug...

### What did you see instead?

[code]

### Additional context
Deleting `const clientDummy

[2019-08-23 17:19] mayurkale22 commented on #641
Thanks for reporting this! If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2019-08-23 17:46] mayurkale22 commented on #639
@danwbyrne Thanks for reporting this! Your PR would be much welcome :)

[2019-08-23 22:09] mayurkale22 commented on #631
@thekemkid Thanks for asking this! I think https://github.com/census-instrumentation/opencensus-node/tree/master/examples/express and https://github.com/census-instrumentation/opencensus-node/tree/master/examples/http examples should give you some idea about trace propagation across multiple services. Let me know if this helps/

[2019-08-27 22:59] StoneDot commented on #641
I'd like to try to investigate the root cause of the problem. But it might take long time though.

I cannot imagine the reason...

[2019-09-02 06:16] mluggy commented on #634
looks awesome.

[2019-09-02 06:16] #634 closed

[2019-09-04 14:41] StoneDot commented on #641
OK, I found the root cause. I'll write Pull request.

[2019-09-06 17:18] #641 closed

[2019-09-16 12:02] loneparadox opened #651 "Stackdriver Exporter does not seem to export the field as expected by stackdriver"
Stack driver exporter does not seems to pass on the openCensus attributes and does not seem to convert them to the stack driver attributes.

### What version of OpenCensus are you using?
"@opencensus/exporter-stackdriver": "0.0.17",
"@opencensus/nodejs": "0.0.17",

### What version of Node are you using?
v10.16.1

### What did you do?
Followed the instructions from https://github.com/census-instru

[2019-09-16 17:27] mayurkale22 commented on #651
Thanks for reporting this! I will take a look at this shortly.

[2019-09-16 18:02] loneparadox commented on #651
@mayurkale22 thank you.

To test this theory I made some changes in `stackdriver-cloudtrace-utils.js` file.

Excuse my crappy code, and I am not suggesting that the change should occur here; But like I said I just wanted to see if this will make it display correctly in stack driver.

[code]

And that did in fact work, to display it correctly in stack driver.

Not sure if this helps in any way.

[2019-09-16 18:56] mayurkale22 commented on #651
@loneparadox Thanks for the pointers, I managed to repro-d the issue and open a PR to fix the reported problem. This will be available in `0.0.18` release.

[2019-09-16 20:58] loneparadox opened #653 "https.get seems to break the b3 propagation and stackdriver propagation libraries"
`https.get` seems to break propagation libraries

### What version of OpenCensus are you using?
"@opencensus/exporter-stackdriver": "0.0.17",
"@opencensus/nodejs": "0.0.17",
"@opencensus/propagation-b3": "0.0.17"
"@opencensus/propagation-stackdriver": "0.0.17"

### What version of Node are you using?
v10.16.1

### What did you do?
The following code should reproduce the error:
[code]

### What did

[2019-09-16 21:15] mayurkale22 commented on #653
Thanks for reporting this! If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2019-09-17 15:23] #651 closed

[2019-09-17 19:21] loneparadox commented on #653
@mayurkale22 I took a quick look and if one puts the same `shimmer.wrap` on the `get` as it is the `http` plugin it seems to work.

The current code in the compiled js for the `https` plugin looks something like:
[code]

When you look at the `http` plugin it looks like:
[code]

So in the `https` plugin if you change the code to something similar it seems to work:
[code]

This got me thinking about

[2019-10-03 19:32] jdbennet2001 opened #658 "Special characters in URL cause OpenCensus to crash"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.17

### What version of Node are you using?
10.x

### What did you do?
If possible, provide a recipe for reproducing the error.
The Coremetrics library includes campaign (or tracking) information in the URLs for our application.  This information may contain non-printable character, suc

[2019-10-03 20:39] mayurkale22 commented on #658
Thanks for reporting this!

This is as per the specs: https://github.com/census-instrumentation/opencensus-specs/blob/master/tags/TagMap.md#tagkey. I was thinking to just logging the error (without silently skipping it) instead of raising it to the top level. WDYT?

[2019-10-03 20:41] jdbennet2001 commented on #658
No issues with logging,  I just don't have way to avoid a crash with the current code path.

Thanks for the quick response!

[2019-10-07 09:30] #653 closed

[2019-10-07 13:37] jdbennet2001 commented on #658
@mayurkale22 Is there any chance I could get a build to deploy the fix?

[2019-10-07 14:12] yuriatgoogle commented on #631
At the risk of shameless self-promotion - you can see working examples of context propagation here, albeit in Golang:

https://github.com/yuriatgoogle/opencensus-demo/tree/master/go/http

[2019-10-07 17:15] mayurkale22 commented on #658
I am waiting for PR to get approved, will cut a release once merged. Is that ok?

[2019-10-07 18:56] jdbennet2001 commented on #658
Brilliant. Thank you.

[2019-10-09 15:51] #658 closed

[2019-10-09 20:13] mayurkale22 commented on #658
Published in `0.0.18`, let us know if you encounter any issues!

[2019-10-09 20:14] mayurkale22 commented on #651
Published in `0.0.18`, let us know if you encounter any issues!

[2019-10-14 14:12] DanielWilliamClarke opened #694 "UnhandledPromiseRejectionWarning: Error: One or more TimeSeries could not be written"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
`0.0.18`

### What version of Node are you using?
`10.15.3`

### What did you do?

I create a simple time series view, I use the timeseries metric descriptor `my-app/app-latency` (for example)

[code]
### What did you expect to see?

I expect to see no **UnhandledPromiseRejectionWarning** e

[2019-10-14 17:42] mayurkale22 commented on #694
Thanks for reporting this!

Is it possible to provide a complete dump of generated `TimeSeries` json? At first glance, metric.type (`custom.googleapis.com/opencensus/my-app/app-latency`) looks correct. Maybe, some issue with the `TimeSeries` value.

[2019-10-25 08:26] pelzerim opened #696 "Plugin unable to find currentRootSpan and "currentRootSpan != root on notifyEnd""
### What version of OpenCensus are you using?

0.0.18

### What version of Node are you using?

v10.15.3

### What did you do?

I was trying to fix the mongodb plugin. This is a poc of the issue (in vanilla js):

index.js
[code]

mongodb-tracing/index.js
[code]

mongodb-tracing/mongodb.js
[code]

### What did you expect to see?

When doing GET localhost:3000 I expect the following to happen:
- htt

[2019-11-06 00:28] andrewmtoy opened #705 "sub millisecond durations are not recorded with `@opencensus/exporter-ocagent`"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.16

### What version of Node are you using?
v10.15.1

### What did you do?
I created spans that take less than one millisecond and exported them with `@opencensus/exporter-ocagent`.

### What did you expect to see?
I expected to see spans with the sub-millisecond durations.

### What di

[2019-11-06 22:17] patwhite opened #706 "Fails to record metrics when running from GCP Cloud Run"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.18

### What version of Node are you using?
10.15

### What did you do?
Create a simple docker container which exports a metric using the stackdriver exporter.  Deploy to Google Cloud Run.

### What did you expect to see?
Metrics successfully logged to stackdriver

### What did you see

[2019-11-16 08:23] sanket0731 opened #708 "FetchError: request to http://169.254.169.254/computeMetadata/v1/instance failed, reason: connect EHOSTDOWN 169.254.169.254:80 - Local"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
"0.0.18"

### What version of Node are you using?
v10.16.3

I am using opencensus-stackdriver-exportor to write traces to stackdriver backend with following configuration:

`const tracing = require('@opencensus/nodejs'); //ver: "0.0.18"
const {StackdriverTraceExporter} = require('@opencensu

[2019-11-18 03:45] mayurkale22 commented on #708
Thanks for reporting this issue! I am looking into it, mean time I sent PR to update the `gcp-metadata` to latest.

[2019-11-18 20:28] mayurkale22 commented on #708
I have upgraded the [gcp-metadata to v3](https://github.com/census-instrumentation/opencensus-node/pull/709) and ran against your shared example, looks to be working well (without any error), Please review #709 when you get a chance.

I have to modify few tests as v3 introduced some breaking change. Basically, `isAvailable` function now tries both DNS(http://metadata.google.internal.) and IP(http:

[2019-11-19 08:22] sanket0731 commented on #708
Thanks for looking into it. #709 looks good, also roughly when can we expect the release ?

[2019-11-19 17:53] mayurkale22 commented on #708
I am planning to cut a release within 2-3 days, would like to include fix for #706. Let me know if you want me to release earlier than this.

[2019-11-19 20:01] #582 closed

[2019-11-20 06:12] sanket0731 commented on #708
That will work for me, thanks

[2019-11-22 20:00] #706 closed

[2019-11-22 20:05] mayurkale22 opened #712 "Add support to detect Cloud Run resources"
Originates from https://github.com/census-instrumentation/opencensus-node/pull/711#issuecomment-557117001

Currently, resource detection logic works very well with GCE (`cloud.google.com/gce/instance`), GKE(`k8s.io/container`) and AWS (`aws.com/ec2/instance`) resources in other cases we fallback on `global` resource type.

Consider to adding support to detect Cloud Run resources.

[2019-11-22 20:06] mayurkale22 commented on #708
Closed via  #709

[2019-11-22 20:06] #708 closed

[2019-11-22 23:07] mayurkale22 commented on #706
Published in `0.0.19`, let us know if you encounter any issues!

[2019-11-22 23:08] mayurkale22 commented on #708
Published in `0.0.19`, let us know if you encounter any issues!

[2019-11-28 14:59] lovrop opened #715 "Cannot install on Node 13, grpc dependency needs updating"
### What version of OpenCensus are you using?

0.0.19

### What version of Node are you using?

13

### What did you do?

Full repro steps:

[code]

[code]

### Additional context

The `grpc` package seems to break regularly with new Node releases but they usually fix it within a few days. The most recent instance was https://github.com/grpc/grpc-node/issues/1086.

Please upgrade the `grpc` depend

[2019-12-03 18:10] patwhite commented on #694
I'm also seeing this, quite verbosely in fact! It could also be related to the same issue the python and java opencensus implementations had:
https://github.com/census-instrumentation/opencensus-python/issues/350
https://github.com/census-instrumentation/opencensus-java/issues/865

Which looked like they had to do with flushing. I'm running on cloud run, so that too may be causing issues.

Here's

[2019-12-03 19:02] mayurkale22 commented on #694
Is it possible to provide some recipe to reproduce this? I will try to debug this at my end.

[2019-12-03 19:15] patwhite commented on #694
It's consistently happening for us, we usually have two containers running,
and I'd say almost always are submitting more than 1 metric at a time. I
have the timeout set at 90 seconds.

On Tue, Dec 3, 2019 at 11:02 AM Mayur Kale <notifications@github.com> wrote:

[2019-12-07 21:22] patwhite commented on #694
@mayurkale22 Were you able to repro this? I’d be happy to give you a dump, is there’s a way to turn on verbose logging through env variables?

[2019-12-10 07:05] mayurkale22 commented on #694
AFAIK this scenario possible in distributed system when multiple clients writing to the same metric. Ideally, **MonitoredResource** (https://cloud.google.com/monitoring/api/resources) should address this problem (if detected properly). The Stackdriver Exporter tries to find accurate MonitoredResource but[ if the expected labels are missing](https://github.com/census-instrumentation/opencensus-node

[2020-01-09 14:57] fiws opened #725 "exporter/stackdriver: not auto detecting GKE labels"
### What version of OpenCensus are you using?

[code]

### What version of Node are you using?

12.14.1

### What did you do?

We have a simple setInterval that monitors the nodejs memory usage. (basically a hello world example)

(this is a hapi.js plugin)
[code]

### What did you expect to see?

The stats should automatically have kubernetes (pod, container, etc) labels when deployed in a GKE con

[2020-01-09 15:29] fiws commented on #725
I think i've found the problem.

The container *needs* the `NAMESPACE` and `CONTAINER_NAME` environment variables. Otherwise [this line](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-stackdriver/src/common-utils.ts#L54) will reset the resource type and all labels to some default stuff.

I don't get why this line is there. Seems to make everythin

[2020-01-09 16:23] mayurkale22 commented on #725
Thanks for reporting this!

AFAIK Stackdriver exporter required us to pass all the labels with a value, in case of GKE [these labels](https://cloud.google.com/monitoring/api/resources#tag_gke_container). If any of the expected label is missing, the exporter will be unhappy and throw an exception.

Something like this:
[code]

[This line](https://github.com/census-instrumentation/opencensus-node/bl

[2020-01-09 17:12] fiws opened #727 "exporter/stackdriver: GKE pod name label incorrect"
### What version of OpenCensus are you using?

0.0.19

### What version of Node are you using?

12.14.1

### What did you do?

record metrics in a GKE container

### What did you expect to see?

The pod name label should be correct.

### What did you see instead?

The pod name label is wrong. It is the hostname from the metadata server which is not related to the pod (at least in my tests). The co

[2020-01-09 17:18] fiws commented on #725
Ok, that makes sense now. Thanks for the response :)

My opinion:

I would prefer it if the namespace and container name would be set to "N/A" just to see that the detection is working. (better than nothing)

Also: this should be documented ..

[2020-01-27 10:45] jacekjagiello opened #748 "exporter/prometheus: Expose express request handler"
**Is your feature request related to a problem? Please describe.**
I would like to expose metrics from my app, without having to create a separate HTTP server for metrics endpoint.
Currently, [PrometheusStatsExporter](https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-prometheus/src/prometheus-stats.ts#L40) can only start a new HTTP server on the con

[2020-01-27 12:57] lovrop commented on #715
@mayurkale22 sorry for the direct ping but is this something you could take care of quickly, or at least chime in on? It seems straightforward to fix and has been a cause of dependency mini-hell for us for a while now. Thanks! 🙏

[2020-02-01 13:27] zoidbergwill commented on #715
There is an MR that fixes this https://github.com/census-instrumentation/opencensus-node/pull/655

[2020-02-10 14:57] jwlongnc opened #751 "Azure Monitor Exporter"
Problem: OpenCensus Node currently does not support Azure Monitor via an exporter.

Solution: Add an exporter to enable exporting of stats and traces to an Azure Monitor account.

**Additional context**
I am part of a senior design group at NC State University, sponsored by Microsoft. Part of the project they gave us was to add an exporter for Azure Monitor to this project.

[2020-02-11 00:47] mayurkale22 commented on #751
If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-02-11 15:08] jwlongnc commented on #751
That's our plan, just saw in the contributing guide that we should open an issue and wait for someone to respond before moving forward with it. Thanks!

[2020-02-12 18:08] tclyit opened #752 "Module not found: Error: Can't resolve '../../package.json' in /node_modules/@opencensus/core/build/src/common'"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
```0.0.19```

### What version of Node are you using?
```12.4.0```

### What did you do?
If possible, provide a recipe for reproducing the error.
I am running the angular universal build for production and I got the error below:
[code]
### What did you expect to see?
```No such error as abo

[2020-02-12 23:53] mayurkale22 commented on #752
Thanks for reporting this! I tried reproducing this locally with Node 10, looks fine to me. Maybe something to do with angular universal build.

[2020-02-12 23:55] mayurkale22 commented on #752
Could you please confirm the path of  `package.json` with angular build?

[2020-02-13 02:27] tclyit commented on #752
@mayurkale22, thank you so much for your prompt reply. The ```package.json``` is at root level of application structure.

[2020-02-13 04:34] tclyit commented on #752
I am running webpack analysis "https://webpack.github.io/analyse/" and here are details:
[code]

[2020-02-13 05:37] mayurkale22 commented on #752
Thanks for sharing the details, the easiest option I can think is to hard code the current version and update it during each release. WDYT?

[2020-02-13 13:01] tclyit commented on #752
@mayurkale22, thanks for your response. I think it should be fixed for the current version.

[2020-02-13 17:31] mayurkale22 commented on #752
@draffensperger what do you think about fixing the current version? If you agree, I will open the PR and update the `RELEASING.md` to update the version during the release process.

[2020-02-14 14:02] draffensperger commented on #752
Hi Mayur, yeah, I think hard coding the current version is fine and I agree with fixing problems that come up in `opencensus-node` even though we are gradually migrating people to [opentelemetry-js](https://github.com/open-telemetry/opentelemetry-js).

[2020-02-14 21:21] #752 closed

[2020-02-19 03:30] #727 closed

[2020-02-19 16:57] mayurkale22 commented on #752
Published in `0.0.20`, let us know if you encounter any issues!

[2020-02-19 18:05] mayurkale22 commented on #715
Published in `0.0.20`, Feel free to reopen the issue if there's something that #750 doesn't solve.

[2020-02-19 18:05] #715 closed

[2020-02-20 15:54] tclyit commented on #752
Hi @mayurkale22, thank you so much. The error above is gone. 👍

[2020-02-20 22:08] tclyit commented on #752
I forgot to mention about the **WARNING**:
[code]
I am wondering if this is caused by nodejs version.

[2020-03-02 10:09] sottar opened #770 "error happens when tracing value will be undefined"
Please answer these questions before submitting a bug report.

To be honest, I'm not sure this is a bug or not. I'm sorry if it's not suited for the bug issue.

### What version of OpenCensus are you using?
[code]

### What version of Node are you using?
v12.13.1

### What did you do?
If possible, provide a recipe for reproducing the error.

Got an error when I start rootSpan by below codes

[code

[2020-03-26 09:36] gabrielgradinaru opened #785 "Export aggregated metrics to prometheus using the cluster module"
**Is your feature request related to a problem? Please describe.**
I can't find a way to export aggregated metrics to prometheus using Node.js's cluster module

**Describe the solution you'd like**

- I would like to be able to export aggregated metrics using `opencensus-exporter-prometheus` and Node.js's cluster module

- I would like some docs for this feature similar to: https://github.com/siim

[2020-03-28 18:46] IdanAdar opened #787 "Package dependencies contain a vulnerability in minimist"
npm audit reveals the following:

[code]

[2020-03-29 06:55] mayurkale22 commented on #787
Thanks for reporting this. Please review https://github.com/census-instrumentation/opencensus-node/pull/788

[2020-03-29 06:56] mayurkale22 commented on #785
If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-03-29 07:03] mayurkale22 commented on #770
Sounds good to me. If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-03-30 16:24] #787 closed

[2020-03-31 09:41] seanprince opened #790 "Depends on vulnerable package: minimist v0.0.8 and v1.2.0"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.20

### What version of Node are you using?
10.15.1

### What did you do?
Run `npm install` for my application, then run `npm ls minimist`

### What did you expect to see?
opencensus-node should only depend on packages that do not contain vulnerabilities.

### What did you see instead?

[2020-04-03 12:11] IdanAdar commented on #787
Thanks for the fix. Was a new version released to NPM?
Either way I'm not sure how to resolve this on my end...

There is no specific package that I can tell that I should upgrade...

[2020-04-03 12:22] IdanAdar commented on #790
This was supposed to be fix, no? https://github.com/census-instrumentation/opencensus-node/issues/787

[2020-04-07 12:33] cliedeman opened #791 "span.end closes all child spans"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in other the OpenCensus libraries in other languages. If so, please [open an issue on opencensus-specs](https://github.com/census-instrumentation/opencensus-specs/issues/new) first.

**Is your feature request related to a problem? Please describe.**
I am attempting to integrate trac

[2020-04-07 12:35] cliedeman commented on #791
I have found a workable solution I think. Going to test it against jaeger and see

Instead of

[code]

I am manually creating the link

[code]

[2020-04-08 12:31] seanprince commented on #790
Yes, that looks like it fixes at least the dependency on minimist 1.2.0. Couldn't see any changes to fix dependency on minimist 0.0.8.

[2020-04-10 20:56] vaskevich opened #792 "Dependency on deprecated continuation-local-storage"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
Latest (https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-core/package.json has a dependency on CLS)

### What version of Node are you using?
v12

### What did you do?
Using `pm2` (https://pm2.keymetrics.io/), which depends on `@opencensus/core` inter

[2020-04-10 21:06] mayurkale22 commented on #792
If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-04-10 21:11] vaskevich commented on #792
Yup! I'm going to take a stab at it -- just wanted to open an issue, first.

[2020-04-11 00:10] vaskevich commented on #792
Ok, I gave it a shot: https://github.com/census-instrumentation/opencensus-node/pull/793.

[2020-05-02 14:48] RXminuS commented on #725
We ran into exactly this problem. Even after @fiws pointed it out it still took 15 min of digging through code to see why/if that's actually the case, so would absolutely benefit from better docs and a more reasonable fallback

[2020-05-08 12:52] lovrop opened #808 "Please update gcp-metadata dependency to >= 4.1.0"
### What version of OpenCensus are you using?

0.0.20

### What version of Node are you using?

13.12 (immaterial as far as I know)

### What did you do?

Ran a Node server while connected to the Internet via an ISP which rewrites queries to the nonexistent `metadata.google.internal` host.

### What did you expect to see?

Server starts up.

### What did you see instead?

Uncatchable error emanati

[2020-05-20 20:45] philicious commented on #725
stumbled over this issue, had the same, linking related issue that has more details https://github.com/census-instrumentation/opencensus-python/issues/796

tl;dr: GKE somewhen stopped populating containers with  `NAMESPACE` and `CONTAINER_NAME` so you now have to add that yourself to Deployment env like
[code]

[2020-05-20 21:50] philicious opened #810 "CoreTracerBase not respecting propagation options properly"
### What version of OpenCensus are you using?
0.0.20 (but affects latest)

### What version of Node are you using?
10/dubnium

### What did you do?
send a propagation header with DO-NOT-SAMPLE flag set,
e.g. with using `@opencensus/exporter-jaeger` you would send `uber-trace-id: :::0` where 0 means do-not-sample.

### What did you expect to see?
sample decision would be false

### What did you see

[2020-05-20 22:17] mayurkale22 commented on #810
Thanks for reporting this!

If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-05-27 19:10] #810 closed

[2020-10-01 05:40] saugatadutta opened #857 "Please update the google-auth-library >=6.1.0 and googleapis >=60.0.1"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.0.22

### What version of Node are you using?
v12.18.1

### What did you do?
If possible, provide a recipe for reproducing the error.
Prototype Pollution in node-forge

Path:  @opencensus/exporter-stackdriver > googleapis > google-auth-library > gtoken > google-p12-pem > node-forge
Path:

[2020-10-02 18:40] RefinedSilver opened #858 "receiving this error message"
Hello Everyone,

I am receiving this error message in Node Package Manager.

Open to any and all suggestions. Thank you.

[2020-11-06 17:20] DanielP50 opened #864 "Nested dependencies have vulnerabilies"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
@opencensus/exporter-stackdriver@0.0.22

### What version of Node are you using?
12.18.2

### What did you do?
Update opencensus/exporter-stackdriver to latest version

### What did you expect to see?
Nested dependency json-bigint to have version 1.0.0 or greater
Nested dependency node-forg

[2021-01-15 17:22] jasonvangundy commented on #430
Did you ever get to a root cause with this?  I am having the exact same problem.  It's been 12-24 hours since the creation of my metric (with `status` tag applied) and I still do not have any values showing up for `status`.

[2021-02-15 03:12] aabmass commented on #808
Thanks for reporting this. One problem here is gcp-metadata v4 has dropped node8 support. We may decide to drop node8 support here as well (which we might do).

[2021-02-15 03:37] aabmass commented on #507
Closing since Travis CI is not recommended for Google projects anymore. Also, OTel is using Github Actions most places now

[2021-02-15 03:37] #507 closed

[2021-02-16 15:46] aabmass opened #889 "Add validation of package-lock.json"
See https://github.com/census-instrumentation/opencensus-node/pull/886#issuecomment-779923205 for context

[2021-02-16 15:57] aabmass commented on #889
In a pinch, verifying this output in CI could work:

[code]

[2021-02-16 20:57] aabmass opened #891 "Add node14 to CI"

[2021-02-23 03:51] aabmass opened #893 "Drop support for node8"
Node 8 has been EOL for quite some time now. A lot of security vulnerabilities, dependency upgrades, and typescript upgrades can not be done without dropping node8.

I want to do one more release before dropping node8.

[2021-03-04 06:03] iqra-ui commented on #752
I am also having this of error ,here I have putted my error below:-
<img width="677" alt="node" src="https://user-images.githubusercontent.com/78844260/109918704-6f308700-7cdd-11eb-9613-d8a10616f45a.png">

[2021-03-04 06:04] iqra-ui commented on #752
can anyone tell me what should I do  to solve this issues

[2021-03-22 17:19] aabmass commented on #864
Fixed in #887

[2021-03-22 17:19] #864 closed

[2021-07-16 18:12] aabmass commented on #808
There is also a security vulnerability:

[code]

[2021-07-19 18:03] aabmass opened #910 "Remove @ts-expect-error comments from TS 3.x migration"
I used the [ts-migrate](https://github.com/airbnb/ts-migrate) script to add `@ts-expect-error` to silence new TS errors introduced in migration from TypeScript 2.x to 3.x (#907). For example https://github.com/census-instrumentation/opencensus-node/blob/9bd4f114cc3c18f148a2f56392db5e393cb968ab/packages/opencensus-core/src/internal/cls-ah.ts#L95

Definitive list: https://github.com/census-instrumen

[2021-07-19 20:29] #891 closed

[2021-07-20 14:49] #808 closed

[2021-07-20 18:29] renovate[bot] opened #921 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update all non-major dependencies (`@types/chai`, `@types/continuation-local-storage`, `@types/ejs`, `@types/express`, `@types/extend`, `@types/ioredis`, `@types/lodash`, `@types/mocha`, `@types/mo

[2021-07-20 21:54] aabmass commented on #857
This was fixed in #887

[2021-07-20 21:54] #857 closed

[2021-07-27 17:34] aabmass opened #933 "@opencensus/exporter-azure missing repository field, can't be published with wombot"
`@opencensus/exporter-azure` was not published in this last release because it is missing the repository field in package.json, causing publishing through wombot to complain:

[code]

I believe adding a repository field should fix this

[2021-07-29 20:59] #933 closed

[2021-09-06 10:04] renovate[bot] opened #941 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `None`
Error type: Invalid gitAuthor
Message: `gitAuthor is not parsed as valid RFC5322 format: renovate[bot] <renovate[bot]@users.noreply.github.com>`

[2021-09-07 13:30] #941 closed

[2021-10-05 06:57] BlueGhost12 commented on #910
There are more than 20 such comments. Do you want all of them removed?

[2021-11-09 08:43] marzieh-kazemi opened #946 "A Security Vulnerability with deep dependency `ansi-regex`"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
0.1.0

### What version of Node are you using?

### What did you do?
npm audit fix does not fix it.

### What did you expect to see?
no security vulnerability issue
![Uploading Screenshot 2021-11-09 at 9.40.04 AM.png…]()

### What did you see instead?
found 4 moderate severity vulnerabiliti

[2021-12-03 00:13] aabmass commented on #946
It looks like this is pulled in by lerna which is a dev dependency, so not a production vulnerability.

[2021-12-03 00:23] aabmass commented on #946
Unfortunately, lerna can't be upgraded to 4.0.0 because it no longer supports node8. While OC libraries would continue to work, the CI pipeline would break.

[2021-12-03 00:23] #946 closed

[2022-07-10 09:46] JasonRock opened #995 "Couldn't catch error of export function"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?
"@opencensus/exporter-stackdriver": "0.1.0"

### What version of Node are you using?
v17.9.0

### What did you do?
I create a simple time series view, and send points to GCP via StackdriverStatsExporter
[code]

### What did you expect to see?
When error occur, my custom error should be prin

[2022-08-05 19:39] ckenna opened #996 "Stackdriver exporter does not upload metrics when used in GCP Function and there is no way to wait on it"
### What version of OpenCensus are you using?

0.1.0

### What version of Node are you using?

18.7.0

### What did you do?
If possible, provide a recipe for reproducing the error.

Have code that looks like this inside a Google Cloud Function:

[code]

### What did you expect to see?

I expected the metrics to get uploaded.

### What did you see instead?

The metrics do not get uploaded. They onl

[2022-11-26 05:09] gitkubes opened #1006 "Gitkubesbebe"
Please answer these questions before submitting a bug report.

### What version of OpenCensus are you using?

### What version of Node are you using?

### What did you do?
If possible, provide a recipe for reproducing the error.

### What did you expect to see?

### What did you see instead?
doc.gitkubesTap on a clip to paste it in the text box.Welcome to Gboard clipboard, any text you copy will b